* {
	padding: 0;
	margin: 0;
	font-family: default;
}

img {
	border: none;
}

li {
	list-style: none;
}
/*
a {
	text-decoration: none;
	color: #333333;
}
*/

/*格式*/

.k_line_bigbox {
	max-width: 1080px;
	min-width: 360px;
}

.k_line_bigbox .k_line_box {
	width: 100%;
	height: 360px;
	position: relative;
}

.k_line_bigbox .k_line_box .beijing {
	width: 100%;
	height: auto;
	position: absolute;
	display: block;
}


/*背景图片需要做适应*/

.k_line_bigbox .k_line_box .black {
	width: 5%;
	height: auto;
	position: absolute;
	left: 6%;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .touxiang {
	width: 5%;
	height: auto;
	position: absolute;
	left: 13%;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .mingzi {
	position: absolute;
	left: 19%;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .mingzi .name {
	font-size: 13px;
	color: white;
	font-weight: bold;
}

.k_line_bigbox .k_line_box .mingzi .dengji_box {
	margin-top: 2px;
}

.k_line_bigbox .k_line_box .mingzi .dengji_box .jindutiao {
	width: 80px;
	display: block;
	position: relative;
}

.k_line_bigbox .k_line_box .mingzi .dengji_box .dengji {
	font-size: 12px;
	color: #d9d181;
	float: left;
}

.k_line_bigbox .k_line_box .mingzi .dengji_box .jindu_ger {
	width: 100%;
	height: 12px;
	display: block;
	background-color: #1f5479;
	border-radius: 8px;
	border-bottom: 1px solid #498ebd;
	border-top: 1px solid #325f7f;
	box-shadow: 0px -1px 1px #1f5377;
	margin-left: 30px;
	position: absolute;
}

.k_line_bigbox .k_line_box .mingzi .dengji_box .jindu_yellow {
	width: 40%;
	height: 13px;
	display: block;
	background-color: #faae4d;
	border-radius: 8px;
	margin-left: 30px;
	position: absolute;
	background: -webkit-linear-gradient(#f7d462, #fc9841);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#f7d462, #fc9841);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#f7d462, #fc9841);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#f7d462, #fc9841);
	/* 标准的语法 */
}

.k_line_bigbox .k_line_box .number_icon {
	position: absolute;
	left: 36%;
	margin-top: 1.5%;
	width: 60%;
	display: block;
}

.k_line_bigbox .k_line_box .number_icon .number_icon_jinbi {
	position: relative;
	width: 24%;
	height: auto;
	float: left;
	margin-left: 26px;
	display: block;
}

.k_line_bigbox .k_line_box .number_icon .number_icon_jinbi:after {
	position: absolute;
	content: "";
	background-image: url(../img/jinbi.png);
	width: 27px;
	height: 28px;
	display: block;
	right: -4px;
	top: -1px;
	background-repeat: no-repeat;
}

.k_line_bigbox .k_line_box .number_icon .zhubi:after {
	position: absolute;
	content: "";
	background-image: url(../img/zhuzaibi.png);
	width: 27px;
	height: 28px;
	display: block;
	right: -4px;
	top: -1px;
	background-repeat: no-repeat;
}

.k_line_bigbox .k_line_box .number_icon .shenglv:after {
	position: absolute;
	content: "";
	background-image: url(../img/shenglv.png);
	width: 27px;
	height: 28px;
	display: block;
	right: 20%;
	top: -1px;
	background-repeat: no-repeat;
}

.k_line_bigbox .k_line_box .number_icon .number_icon_jinbi input {
	width: 100%;
	height: 24px;
	border: none;
	border-bottom: 1px solid #498ebd;
	border-top: 1px solid #325f7f;
	box-shadow: 0px -1px 1px #1f5377;
	background-color: #1f5479;
	border-radius: 20px;
	color: #fff3df;
	font-size: 14px;
	font-weight: bold;
	padding-left: 4px;
}

.k_line_bigbox .k_line_box .number_icon .shenglv {
	width: 24%;
}

.k_line_bigbox .k_line_box .number_icon .shenglv input {
	width: 70%;
}

.k_line_bigbox .k_line_box .cen {
	overflow: hidden;
	width: 100%;
	height: auto;
	font-weight: bold;
	position: absolute;
	text-align: center;
	margin-top: 7%;
}

.k_line_bigbox .k_line_box .cen .gonggao {
	color: white;
	margin-top:20px ;
	width: 100%;
	font-size: 13px;
}

.k_line_bigbox .k_line_box .cen .jianbianxian {
	height: 1px;
	width: 100%;
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(52, 129, 170, 1), rgba(0, 0, 0, 0));
	/* Safari 5.1 - 6 */
	background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(52, 129, 170, 1), rgba(0, 0, 0, 0));
	/* Opera 11.1 - 12*/
	background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(52, 129, 170, 1), rgba(0, 0, 0, 0));
	/* Firefox 3.6 - 15*/
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(52, 129, 170, 1), rgba(0, 0, 0, 0));
	/* 标准的语法 */
}

.k_line_bigbox .k_line_box .cen .cen_right {
	width: 40%;
	float: right;
	margin-top: 10px;
	margin-right: -30px;
}

.k_line_bigbox .k_line_box .cen .cen_right ul li {
	width: 80%;
}

.k_line_bigbox .k_line_box .cen .cen_right ul li img {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

.k_line_bigbox .k_line_box .cen .cen_left {
	margin: 4px 6%;
	float: left;
	width: 38%;
	height: auto;
	border-radius: 14px;
	border: 1px solid #d0f0f6;
	background: rgba(255, 255, 255, 0.2);
}

.k_line_bigbox .k_line_box .cen .cen_left .tab {
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}

.k_line_bigbox .k_line_box .cen .cen_left .tab .jinbiba,
.k_line_bigbox .k_line_box .cen .cen_left .tab .shenglva {
	width: 50%;
	height: auto;
	float: left;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 img,
.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 span {
	float: left;
	margin-left: 4px;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang {
	width: 100%;
	overflow: hidden;
	height: 180px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.k_line_bigbox .k_line_box .cen .cen_left .hi_jinbi_hi {
	display: none;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 {
	overflow: hidden;
	margin: auto;
	width: 90%;
	height: 40px;
	display: block;
	background: -webkit-linear-gradient(left, rgba(227, 197, 124, 1), rgba(242, 228, 195, 1), rgba(227, 197, 124, 1));
	/* Safari 5.1 - 6 */
	background: -o-linear-gradient(right, rgba(227, 197, 124, 1), rgba(242, 228, 195, 1), rgba(227, 197, 124, 1));
	/* Opera 11.1 - 12*/
	background: -moz-linear-gradient(right, rgba(227, 197, 124, 1), rgba(242, 228, 195, 1), rgba(227, 197, 124, 1));
	/* Firefox 3.6 - 15*/
	background: linear-gradient(to right, rgba(227, 197, 124, 1), rgba(242, 228, 195, 1), rgba(227, 197, 124, 1));
	/* 标准的语法 */
	border-radius: 6px;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 .gold_bei {
	width: 16%;
	height: auto;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 .cen_left_touxiang {
	width: 16%;
	height: auto;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 .cen_left_iner {
	display: block;
	float: left;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 .challenger {
	width: 30%;
	height: auto;
	margin-left: 12px;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 .cen_left_iner .cen_left_name {
	font-size: 12px;
	font-weight: bold;
	color: #493830;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no1 .cen_left_iner .cen_left_text {
	font-size: 20px;
	font-weight: bold;
	color: #95431b;
}


/*no2*/

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 img,
.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 span {
	float: left;
	margin-left: 4px;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 {
	margin: 6px auto;
	overflow: hidden;
	width: 90%;
	height: 40px;
	display: block;
	background: -webkit-linear-gradient(left, rgba(192, 187, 176, 1), rgba(215, 219, 211, 1), rgba(192, 187, 176, 1));
	/* Safari 5.1 - 6 */
	background: -o-linear-gradient(right, rgba(192, 187, 176, 1), rgba(215, 219, 211, 1), rgba(192, 187, 176, 1));
	/* Opera 11.1 - 12*/
	background: -moz-linear-gradient(right, rgba(192, 187, 176, 1), rgba(215, 219, 211, 1), rgba(192, 187, 176, 1));
	/* Firefox 3.6 - 15*/
	background: linear-gradient(to right, rgba(192, 187, 176, 1), rgba(215, 219, 211, 1), rgba(192, 187, 176, 1));
	/* 标准的语法 */
	border-radius: 6px;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 .gold_bei {
	width: 16%;
	height: auto;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 .cen_left_touxiang {
	width: 16%;
	height: auto;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 .cen_left_iner {
	display: block;
	float: left;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 .challenger {
	width: 30%;
	height: auto;
	margin-left: 12px;
	margin-top: 1%;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 .cen_left_iner .cen_left_name {
	font-size: 12px;
	font-weight: bold;
	color: #493830;
}

.k_line_bigbox .k_line_box .cen .cen_left .bangdan {
	width: 80%;
	height: auto;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 .wenzi {
	float: left;
	font-size: 30px;
	width: 17.5%;
	color: #95431b;
	text-align: center;
}

.k_line_bigbox .k_line_box .cen .cen_left .cen_left_kuang .cen_left_no2 .cen_left_iner .cen_left_text {
	font-size: 20px;
	font-weight: bold;
	color: #95431b;
}

.k_line_bigbox .k_line_box .foot {

	height: auto;
	width: 100%;
}

.k_line_bigbox .k_line_box .foot .foot_left {
	position: absolute;
	display: block;
	bottom: 0;
	left: 6%;
}

.k_line_bigbox .k_line_box .foot .foot_right {
	position: absolute;
	display: block;
	bottom: 0;
	right: 5%;
}

.k_line_bigbox .k_line_box .zhogjian {
	position: absolute;
	left: 50%;
	bottom: -4px;
	margin-left: -30px;
}

.k_line_bigbox .k_line_box .zhogjian img {
	width: 51%!important;
	height: auto;
}


/*首页完成*/

.loading img{width: 100%;height: auto;}
/*帮助页开始*/

.k_line_bigbox .k_line_box .help {
	width: 82%;
	display: block;
	height: 220px;
	margin: auto;
	left: 6%;
	margin-top: 10%;
	border: 1px solid #9bd4ec;
	position: absolute;
	border-radius:20px ;
	color: white;
	font-weight: bold;
	box-shadow: 0px 0px 10px #1f5377;
	padding: 10px 2% 8px 2%;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hidden;
}

.k_line_bigbox .k_line_box .help .help_navbox {
	background-color: #286478;
	border-radius: 20px;
	overflow: hidden;
	padding: 1%;
}

.k_line_bigbox .k_line_box .help .help_navbox li a{
	float: left;
	font-size: 14px;
	width: 13%;
	height: auto;
	display: block;
	text-align: center;
	margin-left: 1.5%;	
	padding: 1%;
	border-radius:10px ;
	color: white;
}
.k_line_bigbox .k_line_box .help .help_navbox .diwen{
	background-color: #e7e8e3;
	color: #a16662;
}
.k_line_bigbox .k_line_box .help .text_instructions{
	width: 90%;
	display: block;
	margin: 20px 10px;
}
.k_line_bigbox .k_line_box .help .text_instructions .text_title{
	font-size: 16px;
	
}
.k_line_bigbox .k_line_box .help .text_instructions .text_content{
	font-size: 14px;
	margin-top: 4px;
}
/*消息中心*/
.k_line_bigbox .k_line_box .message .help_navbox li{
	width:30%;
	float: left;
	margin-left:2%;
}
.k_line_bigbox .k_line_box .message .help_navbox li a{
	font-size: 18px;
	width: 100%;
	height: auto;
	display: block;
	border-radius:26px ;
	color: white;	
}
.k_line_bigbox .k_line_box .message .help_navbox .diwen{
	color: #831009;
}
.k_line_bigbox .k_line_box .message .help_navbox .diwen:before{
	display: block;
	content: "";
	width: 17px;
	height: 20px;
	background-image: url(../img/xiaoxi_icon.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;

}
.k_line_bigbox .k_line_box .message .help_navbox .xt_ggw_icon:before{
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background-image: url(../img/xt_ggw_icon.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;

}
.k_line_bigbox .k_line_box .message .help_navbox .xt_messagew_icon:before{
	display: block;
	content: "";
	width: 26px;
	height: 20px;
	background-image: url(../img/xt_messagew_icon.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;

}
.k_line_bigbox .k_line_box .help .help_navbox .xt_gg_icon,.k_line_bigbox .k_line_box .message .help_navbox .xt_message_icon{
	background-color: #e7e8e3;
	color: #831009;
}
.k_line_bigbox .k_line_box .message .help_navbox .diwenw:before{
	display: block;
	content: "";
	width: 17px;
	height: 20px;
	background-image:url(../img/xiaoxiw.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;
}
.k_line_bigbox .k_line_box .message .help_navbox .xt_gg_icon:before{
	display: block;
	content: "";
	width: 24px;
	height: 20px;
	background-image:url(../img/ggao.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;

}
.k_line_bigbox .k_line_box .message .help_navbox .xt_message_icon:before{
	display: block;
	content: "";
	width: 26px;
	height: 20px;
	background-image: url(../img/xt_message_icon.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;

}
/*活动*/

.k_line_bigbox .k_line_box .activity{
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgba(123,123,123,0.5);
	display: none;
}

.k_line_bigbox .k_line_box .activity .activity_titler{
	width: 40%;
	height: auto;
	margin-top: 0%;
	margin-left: 30%;
	float: left;
	position: absolute;
}
.k_line_bigbox .k_line_box .activity .guanbi{
	width: 6%;
	height: auto;
	margin-right: 4%;
	margin-top: 4%;
	float: right;
}
.k_line_bigbox .k_line_box .activity .activity_beijing{
	border: 1px solid #ede6cc;
	margin: 6% auto;
	width: 80%;
	height: auto;
	border-radius:20px ;
	padding: 20px;
}
.activity_beijing_s{
	width: 90%;
	padding: 20px;
	height: auto;
	border-radius:20px ;
	background: -webkit-linear-gradient(#edf0e7, #eed4a3);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#edf0e7, #eed4a3);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#edf0e7, #eed4a3);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#edf0e7, #eed4a3);
	margin: auto;
}
.k_line_bigbox .k_line_box .activity .next{
	color: #823e17;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .activity .next .activity_text{
	width: 70%;
	height: auto;
	display: block;
	font-size: 28px;
	margin: auto;
	padding: 3%;
	text-align: center;
	background-color: #e8d8b7;
	border-radius:40px ;
}
.k_line_bigbox .k_line_box .activity .next .activity_text_nei{
	margin-top: 30px;
	display: block;
	width: 100%;
	height: auto;
}
.k_line_bigbox .k_line_box .activity .next .activity_text_nei .activity_text_title{
	font-size: 24px;
}
.k_line_bigbox .k_line_box .activity .next .activity_text_nei .activity_text_text{
	font-size: 20px;
	margin-top: 20px;
}
.k_line_bigbox .k_line_box .activity .next_an{
	width: 100%;
	margin-top: 30px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.k_line_bigbox .k_line_box .activity .next_an div{
	-webkit-box-flex: 1;
	font-weight: bold;
	color: #522c08;
	text-align: center !important;
}
/*活动结束*/

/*任务开始*/
.k_line_bigbox .k_line_box .task{
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgba(123,123,123,0.5);
	display: none;
	
}
.k_line_bigbox .k_line_box .task .task_beijing{
	border: 1px solid #ede6cc;
	margin: 7% auto 0 auto;
	width: 90%;
	height: auto;
	border-radius:20px ;
	padding: 20px;
}
.k_line_bigbox .k_line_box .task .task_titler{
	width: 40%;
	height: auto;
	margin-top: 0%;
	margin-left: 30%;
	float: left;
	position: absolute;
}
.k_line_bigbox .k_line_box .task .guanbi{
	width: 6%;
	height: auto;
	margin-right: 1%;
	margin-top: 4%;
	float: right;
}
.k_line_bigbox .k_line_box .task .task_beijing_s{
	width:100%;	
	height: auto;
	overflow: hidden;
	border-radius:20px ;
	margin: auto;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday,.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_super,.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan{
    width: 31%; 
	height: auto;
	float: left;
	margin-left: 2.3%;
	position: relative;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_beijinga{
	width: 100%;
	top: 0;
	height: auto;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .task_eldaytext{
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	height: auto;
	color: white;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .task_eldaytext .task_eldaytitle{
	font-size: 14px;
	margin:2% 4%;
	width: 100%;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .task_eldaytext .task_eldaynei{
	font-size: 12px;
	margin:4% 4%;
	width: 100%;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan{
	position: absolute;
	height: 210px;
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;	
	top: 16%;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu{
	border: 1px solid #ba5318;
	border-radius:10px ;
	width: 96%;
	overflow: hidden;
	margin:4% auto;

} 
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .renwu_text{
	display: block;
	width: 100%;
	float: left;
	padding-bottom: 4px;
	background-color: #ffffff;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .renwu_text img,.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .renwu_text span{
	float: left;
	margin-left: 4%;
	margin-top: 2%;
	
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .renwu_text .jianglia{
	width: 20%;
	height: auto;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .renwu_text .ongoing{
	width: 30%;
	height: auto;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .renwu_text .wancengsma{
	width: 26%;
	height: auto;
	margin-left: 14px;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .renwu_text .jinbishu{
	font-size: 12px;
	margin-top: 12px;
	color: #c27672;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .shuoming{
	background: -webkit-linear-gradient(#e9dcb7, #ebf0d6);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#e9dcb7, #ebf0d6);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#e9dcb7, #ebf0d6);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#e9dcb7, #ebf0d6);
	padding:4px 0 4px 0;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwulan .renwu .shuoming p{
	font-size: 13px;
	font-weight: bold;
	color: #94624b;
	margin-left: 4%;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwu_jindu{
	position: absolute;
	bottom: 2%;
	width: 100%;
	display: block;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwu_jindu .renwu_jindu_text{
	font-size: 12px;
	width: 30%;
	font-weight: bold;
	color: #94624b;
	margin-left: 4%;
	float: left;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwu_jindu .renwu_jindutiao{
	position: relative;
	width: 60%;
	font-size: 12px;
	display: block;
	float: left;
	
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwu_jindu .renwu_jindutiao .renwu_jinduger{
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #c09372;
	text-align: center;
	color: white;
	height: 12px;
	border-radius:6px ;
	padding: 1% 0 1% 0;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwu_jindu .renwu_jindutiao .renwu_jindugeyell{
	display: block;
	width: 50%;
	position: absolute;
	top: 0;
	background-color: #ea821d;
	text-align: center;
	height: 12px;
	border-radius:6px ;
	padding: 1% 0 1% 0;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .renwu_jindu .renwu_jindutiao .renwu_jindutext{
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	color: white;
	height: 12px;
	z-index: 999;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .task_eldaytext .task_eldaytitle{
	width: 100%;
	display: block;
	height: auto;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .task_eldaytext .task_eldaytitle .jinxinzhong{
	font-size: 12px;
	color: #ffdfa2;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .tiaozhanjinbi_icon{
	position: absolute;
	top: 65%;
	width: 100%;
	text-align: center;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .tiaozhanjinbi_icon .gold{
	font-size: 12px;
	font-weight: bold;
	color: #b75852;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .tiaozhanjinbi_icon .tiaojian{
	font-weight: bold;
	color: #94624b;
	font-size: 12px;
	margin-top: 6px;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .tiaozhanjinbi{
	width: 70%;
	position: absolute;
	top: 25%;
	left: 15%;
	height: auto;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .renwu_jindu{
	position: absolute;
	top: 78%;
	left: 15%;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .renwu_jindu .renwu_jindutiao{
	width:70%;	
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .lingqu{
	position: absolute;
	bottom: 2%;
	left: 20%;
	width: 60%;
	height: auto;
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_elday .task_eldaytext .jieshou{
	width: 40%;
	height: auto;
    position: absolute;
    right: 2%;
    top: 2%;
    color: #8e2307;
    font-size: 14px;
    padding: 2%;
    text-align: center;
	display: block;
	border-radius:8px ;
	box-shadow: 0px 2px 2px #cc8326;
	background: -webkit-linear-gradient(#e9dcb7, #ebf0d6);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#e9dcb7, #ebf0d6);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#e9dcb7, #ebf0d6);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#fff6e8, #f9c45a);
}
.k_line_bigbox .k_line_box .task .task_beijing .task_beijing_s .task_tiaozhan .wancheng{
	position: absolute;
	bottom: 2%;
	left: 20%;
	width: 40%;
	height: auto;
}
/*商店*/
.k_line_bigbox .k_line_box .shore{
	height:280px;
}
.k_line_bigbox .k_line_box .help .shore_kuang{
	width: 60%;
	display: block;
	height: auto;
	margin: auto;
}
.k_line_bigbox .k_line_box .help .shore_kuang .shore_gold{
	width: 100%;
	height: auto;
	
}
.k_line_bigbox .k_line_box .help .shore_navbox .gogao{
	font-size: 14px;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box{	
	width: 700px;
	height: 180px;
	display: inline-block;
	overflow: hidden;
}
.k_line_bigbox .k_line_box .shore .shore_chaungkou{
	margin-top: 10px;
	width: 520px;
	overflow-y:hidden;
	overflow-x:scroll!important;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai{
	width:100px;
	position: relative;
	height: 170px;
	display: block;
	float: left;
	margin-left: 2%;
	
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .shore_beijingkuai{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .shore_jinbishu{
	position: absolute;
	color: #831009;
	top: 60%;
	left: 18%;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .shore_jinibi_a{
	position: absolute;
	width: 80%;
	top: 10%;
	left: 10%;
	height: auto;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .anniubeijing{
	position: absolute;
	width: 80%;
	height: auto;
	bottom: 6%;
	left: 10%;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .shore_shuzi{
	position: absolute;
	bottom: 10%;
	left: 24%;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .shore_shuzi img{
	width: 20%;
	height: auto;
	float: left;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .shore_shuzi .point{
	width: 8%;
	margin-top: 8px;
}
.k_line_bigbox .k_line_box .shore .jinbipai_box .jinbipai .shore_shuzi .dollar{
	margin-top: 1px;
}
/*商店完成*/
/*设置*/
.k_line_bigbox .k_line_box .Setup{
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgba(123,123,123,0.5);
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing{
	border: 1px solid #ede6cc;
	margin: 1% auto 0 auto;
	width: 90%;
	height: 355px;
	border-radius:20px ;
	padding: 10px;
	display: none;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s{
	width: 90%;
	padding: 10px;
	height: 334px;
	border-radius:20px ;
	background: -webkit-linear-gradient(#edf0e7, #eed4a3);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#edf0e7, #eed4a3);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#edf0e7, #eed4a3);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#edf0e7, #eed4a3);
	margin: auto;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox li a{
	float: left;
	font-size: 18px;
	width: 30%;
	height: auto;
	display: block;
	font-weight: bold;
	text-align: center;
	margin-left: 1%;	
	padding: 1%;
	border-radius:10px ;
	color: white;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox{
	width: 100%;
	height: auto;
	border-radius:20px ;
	background-color:#767570;
	overflow: hidden;
	padding: 1% 0 1% 0;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox .dise{
	border-radius:20px ;
	height: auto;
	color: #831107;
	background: -webkit-linear-gradient(#fbfbfb, #e8eeec);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#fbfbfb, #e8eeec);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fbfbfb, #e8eeec);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#fbfbfb, #e8eeec);
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox .onclickt_a:before{
	content: "";
	display: block;
	float: left;
	width: 20px;
	margin-left: 20px;
	height: 20px;
	background-image: url(../img/canshushezhi_a.png);
	background-repeat: no-repeat;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox .bianjitouxiang_a:before{
	content: "";
	display: block;
	float: left;
	width: 20px;
	margin-left: 20px;
	height: 20px;
	background-image:url(../img/touxaingw.png);
	background-repeat: no-repeat;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox .xiugainice_a:before{
	content: "";
	display: block;
	float: left;
	width: 20px;
	margin-left: 20px;
	height: 20px;
	background-image: url(../img/nichengw.png);
	background-repeat: no-repeat;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox .onclickt_b:before{
	content: "";
	display: block;
	float: left;
	width: 20px;
	margin-left: 20px;
	height: 20px;
	background-image: url(../img/canshushezhi_b.png);
	background-repeat: no-repeat;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox .bianjitouxiang_b:before{
	content: "";
	display: block;
	float: left;
	width: 20px;
	margin-left: 20px;
	height: 20px;
	background-image:url(../img/touxaingbl.png);
	background-repeat: no-repeat;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_navbox .xiugainice_b:before{
	content: "";
	display: block;
	float: left;
	width: 20px;
	margin-left: 20px;
	height: 20px;
	background-image:url(../img/nichengbl.png);
	background-repeat: no-repeat;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox{
	display: none;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_text,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .ma_text,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_nichengbox .ma_text{
	font-size: 16px;
	margin: 10px 10px;
	font-weight: bold;
	color: #831107;}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_anniubox{
	width: 100%;
	height: auto;
	overflow: auto;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_anniubox .ma_anniubox_li{
	overflow: hidden;
	width: 30%;
	margin-top: 6px;
	float: left;
	text-align: center;
	margin-left: 10px;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_anniubox .ma_anniubox_li a{
	float: left;
	margin-top: 10px;
	color: #544e40;
	font-size: 12px;
	font-weight: bold;	
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_anniubox .ma_anniubox_li .off{
	float: right;
	margin-right: 10px;
	width: 50%;
	height: auto;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_anniubox .ma_anniubox_li .on{
	float: right;
	margin-right: 10px;
	width: 50%;
	height: auto;
	display: none;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_text_lule p{
	margin-left: 10px;
	font-size: 14px;
	margin-top: 4px;
	color: #514f40;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .ma_text_lule .jianbianxiana,.Setup_touxiangbox .jianbianxiana,.Setup_nichengbox .jianbianxiana{
	height: 1px;
	width: 100%;
	margin-top: 10px;
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(123, 107, 74, 1), rgba(0, 0, 0, 0));
	/* Safari 5.1 - 6 */
	background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(123, 107, 74, 1), rgba(0, 0, 0, 0));
	/* Opera 11.1 - 12*/
	background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(123, 107, 74, 1), rgba(0, 0, 0, 0));
	/* Firefox 3.6 - 15*/
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(123, 107, 74, 1), rgba(0, 0, 0, 0));
	/* 标准的语法 */
}

.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .anniuzhu,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .anniuzhu,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_nichengbox .anniuzhu{
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .anniuzhu div,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .anniuzhu div,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_nichengbox .anniuzhu div{
	-webkit-box-flex: 1;
	margin-top: 10px;
	text-align: center;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_canshubox .anniuzhu div img,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .anniuzhu div img,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_nichengbox .anniuzhu div img{
	width: 50%;
	height: auto;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox{
	width: 100%;
	height: auto;
	
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .Setup_touxiang,.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .Setup_touxiangb{
	overflow: auto;
	margin-top: 30px;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .Setup_touxiang span{
	float: left;
	margin-top: 20px;
	position: relative;	
	margin-left: 4%;
	width: 40px;
	display: block;
	height: 40px;	
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .Setup_touxiang{
	padding-bottom: 44px;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .Setup_touxiang span img{
	width: 100%;
	height:auto ;
}

.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .gou:before{
	content: "";
	display: block;
	width: 24px;
	top: 18px;
	right: -8px;
	position: absolute;	
	height: 24px;
	background-image: url(../img/gou.png);
	background-repeat: no-repeat;
	z-index: 99999;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_touxiangbox .gou{
	width: 200px;
	display: block;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_nichengbox{
	width: 100%;
	height: auto;
	display: none;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_nichengbox .Setup_nichengboxspan .shurukuang{
	border: none;
	border-radius:20px ;
	width: 92%;
	color: #840f08;
	margin-left: 20px;
	font-size: 26px;
	height: 40px;
	background-color: white;
}
.k_line_bigbox .k_line_box .Setup .Setup_beijing .Setup_beijing_s .Setup_kaung .Setup_nichengbox .Setup_nichengboxspan{
	width: 50%;
	display: block;
	background-color: white;
	margin:80px auto;
	border-radius:20px ;
}
/*比賽模式*/
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box{
	
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_boxkuan{
	width:60%;
	margin-top: 6px;
	border-radius:30px ;
	border: 1px solid #c6f0fb;
	margin:4px auto;
	padding: 4px;
	background: rgba(255,255,255,0.2);
	box-shadow: 0px 0px 10px #3b8eab;
	
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_box_nav{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 96%;
	border-radius:20px ;
	margin: auto;
	padding: 4px 0 4px 0;
	background: -webkit-linear-gradient(#fff82d, #e97c03);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#fff82d, #e97c03);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fff82d, #e97c03);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#fff82d, #e97c03);
	
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_box_nav .selected:before{
	content: "";
	background-image: url(../img/sanjiao.png);
	width: 30px;
	height: 14px;
	position: absolute;
	bottom: -14px;
	left: 40%;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_box_nav div{
	-webkit-box-flex: 1;
	position: relative;
	
	
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_box_nav div img{
	width:80%;
	height: auto;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_cen{
	width: 74%;
	margin:6px auto;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_cen div{
    float: left;
    width: 28%;
    height: 140px;
    margin-left: 18px;
	text-align: center;
	border: 1px solid #9aa3af;
	border-radius:20px ;
	background: rgba(255,255,255,0.2);
	box-shadow: 0px 1px 10px #303133;
	
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_cen div img{
	width: 100%;
	height: auto;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_cen div p{
	font-size: 12px;
	font-weight: bold;
	color: white;
	margin-top: 4px;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .kuaisukaishi img{
	width: 23%;
	height: auto;	
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .hunzhansai_box,.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .duikangsai_box{
	display: none;
}
/*竞技模式*/
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicMode_boxkuan .competitiveimg{
	width: 30%;
	height: auto;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicModeimg_box{
	width: 90%;
	height: 150px;
	margin:18px 11%;
	position: relative;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicModeimg_box li{
	float: left;
	width:25%;
	height: auto;
	margin-left: 3%;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicModeimg_box li img{
	width: 100%;
	height: auto;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicModeimg_box .left_anniu{
	width: 8%;
	position: absolute;
	left: -50px;
	top:50px;
	height: auto;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicModeimg_box .right_anniu{
	width: 8%;
	height: auto;
	position: absolute;
	right:26px;
	top:50px;
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicModeimg_box span{
	display: block;
	width: 12px;
	z-index: 99999;
	height: 12px;
	float: left;
	margin-left: 5%;
	border-radius:50%;
	background: rgba(255,255,255,0.6);
}
.k_line_bigbox .k_line_box .cen_ClassicMode .ClassicMode_box .ClassicModeimg_box .dian_box{
	position: absolute;
    bottom: -8px;
    left: 36%;
    width: 40%;
    height: auto;
}
/*金币不足弹窗*/
.k_line_bigbox .k_line_box .gold_not{
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgba(123,123,123,0.5);
	display: none;
}
.k_line_bigbox .k_line_box .gold_not .activity_titler{
	width: 20%;
	height: auto;
	margin-top:20%;
	margin-left: 42%;
	float: left;
	position: absolute;
}
.k_line_bigbox .k_line_box .gold_not .guanbi{
	width: 6%;
	height: auto;
	margin-right: 4%;
	margin-top: 4%;
	float: right;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing{
	border: 1px solid #ede6cc;
	margin: 16% auto;
	width: 50%;
	height: auto;
	border-radius:20px ;
	padding: 4px;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s{
	width: 96%;
	padding: 4px;
	text-align: center;
	height: auto;
	border-radius:20px ;
	background: -webkit-linear-gradient(#edf0e7, #eed4a3);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#edf0e7, #eed4a3);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#edf0e7, #eed4a3);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#edf0e7, #eed4a3);
	margin: auto;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_not_text{
	margin-top: 10px;
	color: #79211d;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_shuliang{
	overflow: hidden;
	margin-top: 20px;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_shuliang img{
	float: left;
	width: 8%;
	margin-left: 10px;
	height: auto;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_shuliang .gold_not_gold{
	width: 30%;
	margin-left: 30px;
	height: auto;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_shuliang .gold_x{
	width: 6%;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_shuliang .gold_not_shuzi{
	margin-top: 46px;
	display: block;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_not_anniu{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-top: 20px;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_not_anniu div{
	-webkit-box-flex: 1;
	text-align: center;
}
.k_line_bigbox .k_line_box .gold_not .activity_beijing_s .gold_not_anniu div img{
	width: 70%;
	height: auto;
}
/*挑战弹窗*/
.k_line_bigbox .k_line_box .challenge_box{
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgba(123,123,123,0.5);
	display: none;
}
.k_line_bigbox .k_line_box .challenge_box .activity_titler{
	width: 50%;
	height: auto;
	margin-top:0%;
	margin-left: 24%;
	float: left;
}
.k_line_bigbox .k_line_box .challenge_box .challenge_my{
	position: absolute;
	left: 0;
	width: 10%;
	margin-left: 26%;
	top: 20%;
}
.k_line_bigbox .k_line_box .challenge_box .challenge_my img,.k_line_bigbox .k_line_box .challenge_box .challenge_you img{
	width:100%;
	height: auto;
}
.k_line_bigbox .k_line_box .challenge_box .challenge_my p,.k_line_bigbox .k_line_box .challenge_box .challenge_you p{
	font-weight: bold;
	color: white;
	font-size: 14px;
	text-align: center;
}
.k_line_bigbox .k_line_box .challenge_box .challenge_you{
	position: absolute;
	right: 0;
	width: 10%;
	margin-right: 26%;
	top: 20%;
}
.k_line_bigbox .k_line_box .challenge_box .jishiimg_box {
	width: 50%;
	height: auto;
	margin:20px auto;
}
.k_line_bigbox .k_line_box .challenge_box .jishiimg_box img{
	width: 7%;
}
.k_line_bigbox .k_line_box .challenge_box .jishiimg_box .jishi_text{
	width:70%;
}
.k_line_bigbox .k_line_box .challenge_box .challenge_box_anniu{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-top: 40px;
	padding-bottom: 70px;
}
.k_line_bigbox .k_line_box .challenge_box .challenge_box_anniu div{
	-webkit-box-flex: 1;
	text-align: center;
}
.k_line_bigbox .k_line_box .challenge_box .challenge_box_anniu div img{
	width: 40%;
	height: auto;
}
/*连续登陆*/
.k_line_bigbox .k_line_box .Continuouslanding{
	position: absolute;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgba(123,123,123,0.5);
	
}

.k_line_bigbox .k_line_box .Continuouslanding .activity_titler{
	width: 40%;
	height: auto;
	margin-top: 4%;
	margin-left: 30%;
	float: left;
	position: absolute;
}
.k_line_bigbox .k_line_box .Continuouslanding .guanbi{
	width: 6%;
	height: auto;
	margin-right: 4%;
	margin-top: 4%;
	float: right;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing{
	border: 1px solid #ede6cc;
	margin: 6% auto 0 auto;
	width: 80%;
	height: auto;
	border-radius:20px ;
	padding: 10px;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s{
	width: 94%;
	padding:10px;
	height: auto;
	border-radius:20px ;
	background: -webkit-linear-gradient(#edf0e7, #eed4a3);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#edf0e7, #eed4a3);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#edf0e7, #eed4a3);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#edf0e7, #eed4a3);
	margin: auto;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .Continuouslanding_box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .Continuouslanding_box div{
	float: left;
	width: 16%;
	margin-left: 7%;
	height: auto;
	margin-top:10px;
	position: relative;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .Continuouslanding_box div img{
	width: 100%;
	height: auto;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .klingqujiangli{
	width: 40%;
	text-align: center;
	margin:10px auto;
	height: auto;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .klingqujiangli img{
	width: 80%;
	height: auto;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .Continuouslanding_box .yilingqu:before{
	position: absolute;
	content: "";
	display: inline-block;
	width: 44px;
	top: 30%;
	left: 20%;
	height: 20px;
	background-image: url(../img/yilingjiang.png);
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .Continuouslanding_box .yilingqu{
	opacity: 0.7;
}
.k_line_bigbox .k_line_box .Continuouslanding .activity_beijing_s .Continuouslanding_box .dangqian:before{
	position: absolute;
	content: "";
	display: inline-block;
	width: 20px;
	top: 30%;
	left: 40%;
	height: 20px;
	background-image: url(../img/dangqian.png);
}

/*单人比赛*/

.k_line_bigbox .k_line_box .bisai_head{
	width: 100%;
	height: auto;
}
.k_line_bigbox .k_line_box .bisai_head .bishai_black{
	position: absolute;
	width: 10%;
	left: 2%;
	top: 2%;
}
.k_line_bigbox .k_line_box .bisai_head .bishai_shezhi{
	position: absolute;
	width: 10%;
	right: 2%;
	top: 2%;
}
.k_line_bigbox .k_line_box .bisai_head .bishai_touxiang{
	position: absolute;
	overflow: hidden;
	width: 30%;
	height: auto;
	border: 1px solid #b3d5df;
	border-radius:20px ;
	left: 35%;
	top: 2px;
	padding:2px;
	box-shadow: 1px 1px 10px #226790;
}
.k_line_bigbox .k_line_box .bisai_head .bishai_touxiang img{
	width: 34px;
	height: 34px;
	border-radius:50% ;
	float: left;
	margin-left: 10px;
	
}
.k_line_bigbox .k_line_box .bisai_head .bishai_touxiang span{
	float: left;
	margin-left: 14px;
	margin-top: 8px;
	font-size: 14px;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .bisai_head .bishai_touxiang .nicheng{
	color: white;
	
}
.k_line_bigbox .k_line_box .bisai_head .bishai_touxiang .shuju{
	color: #16b512;
}
.k_line_bigbox .k_line_box .bisai_cen{
	position: absolute;
	left: 30%;
	top: 50%;
}

.k_line_bigbox .k_line_box .bisai_cen .bisai_cen_text{
	width: 80%;
	height: auto;
}
.k_line_bigbox .k_line_box .bisai_foot{
	width: 100%;
	height: auto;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_black{
	position: absolute;
	width: 14%;
	left: 2%;
	bottom: 2px;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_shezhi{
	position: absolute;
	width: 14%;
	right: 2%;
	bottom: 2px;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang{
	position: absolute;
	overflow: hidden;
	width: 30%;
	height: auto;
	border: 1px solid #b3d5df;
	border-radius:20px ;
	left: 35%;
	bottom: 1%;
	padding:2px;
	box-shadow: 1px 1px 10px #226790;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang img{
	width: 34px;
	height: 34px;
	border-radius:50% ;
	float: left;
	margin-left: 10px;
	
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang span{
	float: left;
	margin-left: 14px;
	margin-top: 8px;
	font-size: 14px;
	font-weight: bold;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang .nicheng_box{
    float: left;	
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang .nicheng_box .nicheng p{
	font-size: 14px;
	font-weight: bold;
	margin-left: 14px;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang .nicheng_box .nicheng .name{
	color: white;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang .nicheng_box .nicheng .jinbi{
	color: #fbd92f;
	margin-top: 2px;
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang .nicheng_box .nicheng .jinbi:before{
	content: "";
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 1px;
	display: inline-block;
	background-image: url(../img/bisai_gold.png);
}
.k_line_bigbox .k_line_box .bisai_foot .bishai_touxiang .shuju{
	color: #dc1212;
}
/*对战赛*/
.k_line_bigbox .bisai_box .bisai_cen{
	position: absolute;
	left: 30%;
	top: 30%;
}
.k_line_bigbox .k_line_box .bisai_cen .bisaiyou_ok img{
	width: 16%;
	margin-left: 38%;
}
.k_line_bigbox .k_line_box .bisai_cen .bisaimy_ok img{
	width: 16%;
	margin:20px 38%;
}
.k_line_bigbox .k_line_box .bisai_cen .bisaimy_ok #Toprepare{
    width: 50%;
    margin:20px 20%;
    height: auto;
}
.k_line_bigbox .k_line_box .bisai_cen .bisaimy_ok #my_ok{
	display: none;
}

.span12{width: 300px; padding:20px; margin:auto}
.span12 h3{ color:#a00; font-size:20px; line-height:28px}
.span12 img.gold_not_gold{ width:100px}