<!doctype html style="width: 100%; height: 100%">
<head>
<meta charset="utf-8">
<script src="<?php echo base_url()?>public/js/jquery.js"></script>
</head>
<body style="width: 100%; height: 100%; margin: 0">
<div id="container" style="width: 100%; height: 100%"></div>

<input type="button" value="Submit" id="a" />
<script type="text/javascript" src="<?php echo base_url()?>public/js/echarts-all-3.0.0.js"></script>
<script type="text/javascript">

var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var base = +new Date(2014, 9, 3);
var oneDay = 24 * 3600 * 1000;
var date = [];

var data = [Math.random() * 150];
var now = new Date(base);

function addData(shift) {
    now = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-');
    date.push(now);
    data.push((Math.random() - 0.4) * 10 + data[data.length - 1]);
    if (shift) {
        date.shift();
        data.shift();
    }
    now = new Date(Date.parse(now) + 24 * 3600 * 1000);
}

for (var i = 1; i < 100; i++) {
    addData();
}

option = {
    backgroundColor: '#f5f5f5',
    animation:false,
    tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false
            },
            formatter: function (params) {
                return params[0].name + '<br />' + params[0].value;
            }
        },
    toolbox: {
                show : true,
                feature : {
                    dataZoom: {},
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
    xAxis: {
        type: 'category',
        boundaryGap: false,
    },
    yAxis : [
                {
                    type : 'value',
                    scale: true,
                    splitNumber: 5,
                    boundaryGap: [0.001, 0.001],
                    type: 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
    ],
    series : [
                {
                    name:'指数',
                    type:'line',
                    stack: '总量',
                    symbolRotate: -45,
                    itemStyle: {
                        normal: {
                            color: 'red',
                            lineStyle: {        // 系列级个性化折线样式
                                width: 2,
                                type: 'solid'
                            }
                        },
                        emphasis: {
                            color: 'blue'
                        }
                    },
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
};
myChart.showLoading();
app.timeTicket = setInterval(function () {
$.post('/cygjs_fr/index.php/huangjin_ed/e_data',{symbol:'XAU'},function(data){

    myChart.hideLoading();
    var json=JSON.parse(data);
    var date = json.data_date;
    var data = json.ipdata;

    $('#capital').val(json.price);
    alert($('#capital').val());
    if (Number($('#capital').val())<Number(json.price)) {
            $(".button_ab dl").css("border","4px solid Red");
        }
        if (Number($('#capital').val())>Number(json.price)) {
            $(".button_ab dl").css("border","4px solid Lime");
        };
        if (Number($('#capital').val())==Number(json.price)) {
            $(".button_ab dl").css("border","4px solid Black");
        };
    $('#capital').val(json.price);
    $('#lianying').html(json.num);
        addData(true);
        myChart.setOption({
            xAxis: {
                data: date.map(function (str) {
                        return str.replace('2016-01-25', '\n')
                    })
            },
            series: [{
                name:'成交',
                data: data
            }]
        });
    });
}, 3000);;
if (option && typeof option === "object") {
    var startTime = +new Date();myChart.setOption(option, true);
    var endTime = +new Date();
    var updateTime = endTime - startTime;console.log("Time used:", updateTime);
    }
        
    </script>
    <script type="text/javascript">
    $('#a').on('click', function(){
    
        $.post('/cygjs_fr/index.php/huangjin_ed/e_data',{symbol:'XAU'},function(data){
            var json=JSON.parse(data);
            alert(json.data_date);
        });
        // alert(123);
        });
        </script>
    </body>
</html>