<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>黄金走势线</title>
<base href="<?php echo base_url()?>">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<script src="<?php echo base_url()?>public/js/echarts.min.js"></script><!-- ECharts单文件引入 -->
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        window.onresize = myChart.resize;

        // 指定图表的配置项和数据
        var option = {

            backgroundColor: '#f5f5f5',
            animation:false,
            title : {
                text: '黄金分时报价变化',
                subtext:$("#m-chart-realhq").html()
            },
             tooltip : {
                trigger: 'axis',
                formatter: function(params) {
                    return params[0].name + '<br/>' + params[0].seriesName + ' : ' + params[0].value + ' (m^3/s)<br/>';
                },
                axisPointer: {
                    animation: false
                }
            },
            legend: {
                data:['沪深300']
            },
            toolbox: {
                show : true,
                feature : {
                    dataZoom: {},
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [
                {
                    show: true,
                    realtime: true,
                    start: 80,
                    end: 100
                },
                {
                    type: 'inside',
                    realtime: true,
                    start: 60,
                    end: 80
                }
            ],
            xAxis : [
                {
                    type : 'category',
                    name: '时间线',
                    splitLine: {show: false},
                    boundaryGap : false,
                    axisLine: {onZero: false},
                    data : [<?php echo $data_date;?>
                    ].map(function (str) {
                        return str.replace('2016-', '\n')
                    })
                }
            ],
                grid: {
                left: '3%',
                right: '4%',
                bottom: '10%',
                containLabel: true
            },
            yAxis : [
                {
                    type : 'value',
                    scale: true,
                    splitNumber: 5,
                    boundaryGap: [0.01, 0.01],
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
            series : [
                {
                    name:'指数',
                    type:'line',
                    stack: '总量',
                    symbolRotate: -45,
                    itemStyle: {
                        normal: {
                            color: 'red',
                            lineStyle: {        // 系列级个性化折线样式
                                width: 2,
                                type: 'solid'
                            }
                        },
                        emphasis: {
                            color: 'blue'
                        }
                    },
                    data:[<?php echo $ipdata;?>],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    </script>
    <script type="text/javascript">
    $('#sxin').on('click', function(){
    window.location.reload();
    // alert('这是跌');
    });
    setInterval(function(){  
    window.location.reload();
    },20000);
    </script>
</body>
</html>