<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>测试</title>
<base href="<?php echo base_url()?>">
<link rel="stylesheet" type="text/css" href="public/css/common.css" />
<!-- <script type="text/javascript" src="vendor/jquery/jquery-1.11.3.min.js"></script> -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="echarts-2.2.7/doc/example/www/js/echarts.js"></script>
    <script src="echarts-2.2.7/doc/asset/js/codemirror.js"></script>
    <!-- // <script src="echarts-2.2.7/doc/asset/js/javascript.js"></script> -->


</head>
<body>

<div class="tab_nav">
    <span class="line"></span>
    <ul>
    <li ><a href="<?php echo site_url('huangjin/index')?>">黄金</a></li>
    <li class="on"><a href="<?php echo site_url('hushen300/index')?>">沪深300</a></li>
    
</ul></div>

<div class="focus_data">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <!-- <div id="main" style="height:400px"></div> -->
<!--/span-->
            <div id="graphic" class="col-md-8">
                <div id="main" class="main" style='height:230px;margin-bottom:1px;padding-bottom:0;border-bottom-width:0'></div>
                <div id="main2" class="main" style='height:145px;margin-bottom:1px;padding:1px 10px;border-width:0 1px;'></div>
                <div id="main3" class="main" style='height:105px;padding-top:1px;border-top-width:0'></div>
                <div>
                    <button type="button" class="btn btn-sm btn-success" onclick="refresh(true)">刷 新</button>
                    <span class="text-primary">切换主题</span>
                    <select id="theme-select"></select>

                    <span id='wrong-message' style="color:red"></span>
                </div>
            </div><!--/span-->
    <p id="m-chart-realhq">实时行情: -- | 今开: -- | 昨收: -- | 最高: -- | 最低: -- | 量: --手 | 额: --万元</p>

</div>

<div class="button_ab">
    <span class="d"><a href="#">跌</a></span>
    <span class="z"><a href="#">涨</a></span>
</div>

<div class="user_info"><ul>
    <li><span>余额：</span><span><em>42,500</em><span class="tc" ><a href="<?php echo site_url('login/index')?>">取现</a><a href="<?php echo site_url('wanshan/index')?>">/完善信息</a><a href="<?php echo site_url('register/index')?>">/注册</a></span></span></li>
    <li class="tz"><span>投注金额：</span><span><i class="down">-</i><em>1,000</em><i class="up">+</i></span></li>
</ul></div>
<div class="out">
   <span class="th" ><a href="#">刷新</a></span>
   <span class="th" ><a href="#">赚流量/机会</a></span>
</div>
<script type="text/javascript">
    setInterval(function(){  
                            $.ajax({
                                    url: "http://hq.sinajs.cn/?_="+new Date().getTime()+"&list=sh603518",
                                    method: 'GET',
                                    dataType: "script",
                                    scriptCharset: "gb2312",
                                    cache: true,
                                    success: function(data, textStatus){
                                         var hq = hq_str_sh603518.split(",");
                                        var title,rt_hq = '';
                                        if(Number(hq[3])>Number(hq[2])){
                                            title = hq[3]+' +'+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%';
                                            rt_hq = '<span style="color:Red;">'+hq[3]+'&nbsp;'+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%</span>';
                                        }else if(Number(hq[3])<Number(hq[2])){
                                            title = hq[3]+' '+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%';
                                            rt_hq = '<span style="color:Lime;">'+hq[3]+'&nbsp;'+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%</span>';
                                        }else{
                                            title = hq[3]+' '+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%';
                                            rt_hq = '<span style="color:Black;">'+hq[3]+'&nbsp;'+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%</span>';
                                        }
                                        document.title = title;
                                        // var html_src = '实时行情: '+rt_hq+" | 今开: "+hq[1]+" | 昨收: "+hq[2]+" | 最高: "+hq[4]+" | 最低: "+hq[5]+" | 量: "+String((Number(hq[8])/100).toFixed(0))+"手 | 额: "+String((Number(hq[9])/10000).toFixed(2))+"万元";
                                        var html_src = '实时行情: '+rt_hq+" | 今开: "+hq[1]+" | 昨收: "+hq[2]+" | 最高: "+hq[4]+" | 最低: "+hq[5]+" | 量: "+String((Number(hq[8])/100).toFixed(0))+"手 | 额: "+String((Number(hq[9])/10000).toFixed(2))+"万元";
                                        // alert(html_src);
                                        // $("#m-chart-realhq").html(html_src);
                                        // res += '<br/>  开盘 : ' + params[0].value[0] + '  最高 : ' + params[0].value[3];

                                        
                                        // $.post('/cygjs_fr/index.php/hushen300/data_add',{open:hq[1],close:hq[2],current:hq[3],high:hq[4],low:hq[5],data_date:hq[30],data_time:hq[31]},function(data){
                                        //     // alert(data);
                                        // });
                                       

                } 
            });
             },5000);
</script>
<div class="row-fluid example" style="display:none">
            <div id="sidebar-code" class="col-md-4">
                <div class="well sidebar-nav">
                    <textarea id="code" name="code">
var axisData = [
    <?php echo $data_date;?>
];

option = {
    title : {
        text: '2013年上半年上证指数'
    },
    tooltip : {
        trigger: 'axis',
        showDelay: 0,             // 显示延迟，添加显示延迟可以避免频繁切换，单位ms
        formatter: function (params) {
            var res = params[0].name;
            res += '<br/>' + params[0].seriesName;
            res += '<br/>  开盘 : ' + params[0].value[0] + '  最高 : ' + params[0].value[3];
            res += '<br/>  收盘 : ' + params[0].value[1] + '  最低 : ' + params[0].value[2];
            return res;
        }
    },
    legend: {
        data:['上证指数','成交金额(万)','虚拟数据']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataZoom : {show: true},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom : {
        y: 250,
        show : true,
        realtime: true,
        start : 50,
        end : 100
    },
    grid: {
        x: 80,
        y: 40,
        x2:20,
        y2:25
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : true,
            axisTick: {onGap:false},
            splitLine: {show:false},
            data : axisData
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale:true,
            boundaryGap: [0.05, 0.05],
            splitArea : {show : true}
        }
    ],
    series : [
        {
            name:'上证指数',
            type:'k',
            data:[ // 开盘，收盘，最低，最高
            <?php echo $ipdata;?>
            ]
        },
        {
            name:'成交金额(万)',
            type:'line',
            symbol: 'none',
            data:[]
        },
        {
            name:'虚拟数据',
            type:'bar',data:[]
        }
        
    ]
};

option2 = {
    tooltip : {
        trigger: 'axis',
        showDelay: 0             // 显示延迟，添加显示延迟可以避免频繁切换，单位ms
    },
    legend: {
        y : -30,
        data:['上证指数','成交金额(万)','虚拟数据']
    },
    toolbox: {
        y : -30,
        show : true,
        feature : {
            mark : {show: true},
            dataZoom : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom : {
        show : true,
        realtime: true,
        start : 50,
        end : 100
    },
    grid: {
        x: 80,
        y:5,
        x2:20,
        y2:40
    },
    xAxis : [
        {
            type : 'category',
            position:'top',
            boundaryGap : true,
            axisLabel:{show:false},
            axisTick: {onGap:false},
            splitLine: {show:false},
            data : axisData
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale:true,
            splitNumber: 3,
            boundaryGap: [0.05, 0.05],
            axisLabel: {
                formatter: function (v) {
                    return Math.round(v/10000) + ' 万'
                }
            },
            splitArea : {show : true}
        }
    ],
    series : [
        {
            name:'成交金额(万)',
            type:'line',
            symbol: 'none',
            data:[
                13560434, 8026738.5, 11691637, 12491697, 12485603, 
                11620504, 12555496, 15253370, 12709611, 10458354, 
                10933507, 9896523, 10365702, 10633095, 9722230, 
                12662783, 8757982, 7764234, 10591719, 8826293, 
                11591827, 11153111, 14304651, 11672120, 12536480, 
                12608589, 8843860, 7391994.5, 10063709, 7768895.5, 
                6921859, 10157810, 8148617.5, 7551207, 11397426, 
                10478607, 8595132, 8541862, 9181132, 8570842, 
                10759351, 7335819, 6699753.5, 7759666.5, 6880135.5, 
                7366616.5, 7313504, 7109021.5, 6213270, 5619688, 
                5816217.5, 6695584.5, 5998655.5, 6188812.5, 9538301,
                8224500, 8221751.5, 7897721, 8448324, 6525151, 
                5987761, 7831570, 8162560.5, 7904092, 8139084.5, 
                9116529, 8128014, 7919148, 7566047, 6665826.5, 
                10225527, 11124881, 12884353, 11302521, 11529046, 
                11105205, 9202153, 9992016, 12035250, 11431155, 
                10354677, 10070399, 9164861, 9237718, 7114268, 
                7526158.5, 8105835, 7971452.5
            ],
            markLine : {
                symbol : 'none',
                itemStyle : {
                    normal : {
                        color:'#1e90ff',
                        label : {
                            show:false
                        }
                    }
                },
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        }
    ]
};
myChart2 = echarts.init(document.getElementById('main2'));
myChart2.setOption(option2);

option3 = {
    tooltip : {
        trigger: 'axis',
        showDelay: 0             // 显示延迟，添加显示延迟可以避免频繁切换，单位ms
    },
    legend: {
        y : -30,
        data:['上证指数','成交金额(万)','虚拟数据']
    },
    toolbox: {
        y : -30,
        show : true,
        feature : {
            mark : {show: true},
            dataZoom : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom : {
        y:200,
        show : true,
        realtime: true,
        start : 50,
        end : 100
    },
    grid: {
        x: 80,
        y:5,
        x2:20,
        y2:30
    },
    xAxis : [
        {
            type : 'category',
            position:'bottom',
            boundaryGap : true,
            axisTick: {onGap:false},
            splitLine: {show:false},
            data : axisData
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale:true,
            splitNumber:3,
            boundaryGap: [0.05, 0.05],
            axisLabel: {
                formatter: function (v) {
                    return Math.round(v/10000) + ' 万'
                }
            },
            splitArea : {show : true}
        }
    ],
    series : [
        {
            name:'虚拟数据',
            type:'bar',
            symbol: 'none',
            data:[
                560434, 226738, 696370, 249697, 248563, 
                620504, 555496, 525337, 270968, 458354, 
                933507, 896523, 365702, 633095, 722230, 
                662783, 875798, 776423, 105979, 882629, 
                598278, 231253, 430465, 672208, 253648, 
                608589, 884386, 739994, 263709, 776889, 
                692859, 105780, 848675, 755207, 397426, 
                478607, 859532, 854862, 983288, 857084, 
                759358, 733589, 669975, 775965, 688035, 
                736666, 733504, 709025, 623270, 569688, 
                586275, 669558, 599865, 688825, 953830,
                822450, 822755, 789772, 844832, 652558, 
                598776, 783570, 862560, 794092, 839084, 
                965298, 828048, 799480, 756647, 665826, 
                102257, 248870, 288435, 302528, 529046, 
                105205, 920253, 999206, 203525, 435588, 
                103546, 703990, 964868, 923778, 742688,
                752658, 805835, 797452
            ],
            markLine : {
                symbol : 'none',
                itemStyle : {
                    normal : {
                        color:'#1e90ff',
                        label : {
                            show:false
                        }
                    }
                },
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        }
    ]
};
myChart3 = echarts.init(document.getElementById('main3'));
myChart3.setOption(option3);

myChart.connect([myChart2, myChart3]);
myChart2.connect([myChart, myChart3]);
myChart3.connect([myChart, myChart2]);

setTimeout(function (){
    window.onresize = function () {
        myChart.resize();
        myChart2.resize();
        myChart3.resize();
    }
},200)
                    </textarea>
              </div><!--/.well -->
            </div>
        </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="echarts-2.2.7/doc/asset/js/jquery.min.js"></script>
    <!-- // <script src="echarts-2.2.7/doc/asset/js/bootstrap.min.js"></script> -->
     <script src="echarts-2.2.7/doc/asset/js/echartsExample.js"></script>
    <script type="text/javascript">
        function refresh(isBtnRefresh){
            if (isBtnRefresh) {
                needRefresh = true;
                focusGraphic();
                myChart2.showLoading();
                myChart3.showLoading();
                return;
            }
            needRefresh = false;
            
            myChart = echarts.init(domMain);
            (new Function(editor.doc.getValue()))();
            myChart.setOption(option, true);
            domMessage.innerHTML = '';
            window.onresize = function () {
                myChart.resize();
                myChart2.resize();
                myChart3.resize();
            }
        }
    </script>

</body>
</html>
<script>
/*function openwin(){window.open("<?php echo site_url('login/index')?>", "newwindow", "height=300, width=400")}*/


</script>