<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>沪深300</title>
 <base href="<?php echo base_url()?>">
<link rel="stylesheet" type="text/css" href="public/css/common.css" />
 <!-- // <script type="text/javascript" src="vendor/jquery/jquery-1.11.3.min.js"></script> -->
 <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
 <script type="text/javascript" src="public/js/code.js"></script>
 <script type="text/javascript" src="public/js/register.js"></script>
 <script type="text/javascript" src="public/layer/layer.js"></script>
 <script type="text/javascript" src="public/layer/extend/layer.ext.js"></script>

<style>
#mask{

            margin: 0 auto;

            width: 100%;

            height: 100%;

            z-index: 200;

            background-color: grey;

            position: fixed;

            left: 0;

            top: 0;

            opacity: 100;

            moz-opacity:100;

            filter:alpha(opacity=100);
			
			display:none;
			z-index:0;
}

#register{

            position:absolute;

            top:50%;

            left:50%;

            width:300px;

            height:300px;

            margin: -150px 0 0 -150px;

            vertical-align: middle;
			
			display:none;
			z-index:99;
			
}
</style>
</head>
<body>
<div class="header">
<ul>
	 <li><span>用户</span><span><?php echo $username;?></span></li>
	 <!--  <li><span>可用流量</span><span><?php echo $flow;?></span></li>-->
	
 </ul>
</div>
<div class="tab_nav">
	<span class="line"></span>
	<ul>
	<li ><a href="<?php echo site_url('huangjin/index')?>">黄金</a></li>
	<li class="on"><a href="<?php echo site_url('hushen300/index')?>">沪深300</a></li>
	
</ul></div>

<div class="focus_data">
    <!-- 为走势图准备一个具备大小（宽高）的Dom -->
    <iframe id="dd" name="dd" src="/cygjs_fr/index.php/hushen300/hushen_link" width="100%" height="410"></iframe>
    <p id="m-chart-realhq" style="width: 50%;float:left;">实时行情: -- | 今开: -- | 昨收: -- | 最高: -- | 最低: -- | 量: --手 | 额: --万元</p>
    <p style="width: 50%;float:left;"><a href='javascript:void(0);' id='sxin'>刷新</a></p>
    <input type="button" name="capital" id="capital" value=""  style="display:none;"/>
</div>

<div class="button_ab">
	<span class="d"><a href="javascript:void(0);" id="die">跌</a></span>
	<span class="z"><a href="javascript:void(0);" id="zhang">涨</a></span>
</div>
	<a href="javascript:void(0);" id="ls">成交历史</a>
    <p id="lishi"></p>

<div class="user_info">
	<ul>
		<li class="mj"><span>买价：</span><span><em>42,500</em></span></li>
		<li class="jg"><span>价格：</span><span><em>1,000</em></span></li>
		<li class="yl"><span>盈利：</span><span><em>涨/跌</em></span></li>
	</ul>
</div>

<!--遮罩层-->
<div id="mask"></div>

<!-- 注册页面-->
<div id="register">
	<div id="reg" class="title">请注册<img  style="margin-left:180px;"src="<?php echo base_url()?>public/img/gb.jpg" alt="关闭" /></div>
	  <table class="table" width="100%" >
	    <tr><td style="text-align:right;">用户名：</td><td><input type="text" name="username" id="username"/></td></tr>
	    <tr> <td style="text-align:right;">密码：</td><td><input type="password" name="password" id="password"/></td></tr>
	    <tr> <td style="text-align:right;">确认密码：</td><td><input type="password" name="repassword" id="repassword"/></td></tr>
	    <tr><td style="text-align:right;">手机号：</td><td><input type="text" id="phone" name="phone"/></td></tr>
	    <tr><td style="text-align:right;">验证码：</td>
	    <td ><input type="text" id="checkCode" name="checkCode" size="6"  />
	    <input id="btnSendCode" type="button" value="发送验证码" /></td></tr>
	    <tr><td><button id="sure" >确定</button></td></tr>
	 </table>
</div>

<!-- 弹出登入窗 -->
<div id="login" style="margin:50px auto; width:300px; height:150px; display:none;">
    <div id="title" class="title" style="padding:30px 0px;">请登入<img  style="margin-left:180px;"src="<?php echo base_url()?>public/img/gb.jpg" alt="关闭" /></div>
	<table width="100%" class="table">
		<tr style="margin-left:30px;">
		  <td align="right"  style=" padding:0 10px; ">账号</td>
         <td ><input style="width:60%;margin-bottom:10px;" type="text" name="name" /></td>
    </tr>    
	  <tr >
		  <td align="right"  style=" padding:0 10px; ">密码</td>
		  <td ><input style="width:60%;margin-bottom:10px;" type="text" name="pwd"  /></td>
	  </tr>
	  <tr align="center" style="padding:20px; margin:10px;">
		  <td colspan="2">
		  <button id="login_btn">登录</button>
		  <button id="register_btn">注册</button>
		  
		  </td>
	   </tr>             
 </table>

</div>

<div class="out">
   <span class="qx" ><a href="javascript:void(0);">取现</a></span>
   <span class="rw" ><a href="#">赚流量/机会</a></span>
</div>




</body>
</html>

<script type="text/javascript">
	// 涨事件
$('#zhang').on('click', function(){
    $.post('/cygjs_fr/index.php/hushen300/investor_detail_add',{capital:$('#capital').val(),invest_type:1},function(data){
    	 // var obj = eval(data);
        // alert(data);
        var json=JSON.parse(data);
        layer.alert('看涨。买入价：'+$('#capital').val()+'。中奖请查看历史记录。');
        // $("#lishi").html(json.capital);
    });
});
// 跌事件
$('#die').on('click', function(){
    $.post('/cygjs_fr/index.php/hushen300/investor_detail_add',{capital:$('#capital').val(),invest_type:0},function(data){
    	 // var obj = eval(data);
        // alert(data);
        var json=JSON.parse(data);
        layer.alert('看跌。买入价：'+$('#capital').val()+'。中奖请查看历史记录。');
        // $("#lishi").html(json.capital);
    });
});
$('#ls').on('click', function(){
    // $.post('/cygjs_fr/index.php/hushen300/lishi_list',{open:123},function(data){
    //      // var obj = eval(data);
    //     // alert(data);
    //     var json=JSON.parse(data);
    //     layer.alert(json.a);
    //     // $("#lishi").html(json.a);
    // });
    layer.open({
        type: 2,
        title: '交易历史详情',
        shadeClose: true,
        shade: false,
        maxmin: true, //开启最大化最小化按钮
        area: ['893px', '600px'],
        content: '/cygjs_fr/index.php/hushen300/lishi_html_list'
    });
});
/*120倒計時*/


var intDiff = parseInt(119); //120秒倒计时总秒数量

function timer(intDiff) {
	window.setInterval(function() {
		var day = 0,
			hour = 0,
			minute = 0,
			second = 0; //时间默认值		
		if (intDiff > 0) {
			second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
		}
		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$('#second_show').html('<s></s>' + second + '秒');
		intDiff--;
	}, 1000);
}

$(function() {
	timer(intDiff);
});

/*60秒倒计时*/
var intDiff = parseInt(60); //120秒倒计时总秒数量

function timer(intDiff) {
	window.setInterval(function() {
		var day = 0,
			hour = 0,
			minute = 0,
			second = 0; //时间默认值		
		if (intDiff > 0) {
			second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
		}
		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$('#sixaoji').html('<s></s>' + second + ' ');
		intDiff--;
	}, 1000);
}

$(function() {
	timer(intDiff);
});

</script>

<script>
//弹出窗口
$(function(){
	//弹出注册框的时候，同时向后台请求验证码图片
	$('#register_btn').on('click',function(){
		/*$.ajax({
			url:'<?php echo site_url("hushen300/img")?>',
			dataType:'html',
			async:false,
			success:function(data){
				$('#img_td').prepend(data);
			}
		});*/
		$('#mask').show();
		$('#register').show();	
	});
	//点击发送时发送手机验证码
	$('#btnSendCode').click(function(){
		var phone=$('#phone').val();
		//这里应该检测一下是否是电话号码，我这里省略掉
		
		$.ajax({
			url:'<?php echo site_url("hushen300/send_sms")?>',
			data:{phone:phone},
			type:'post',
			success:function(data){
				alert(data.info);
			}
		});
	});
	
	//检测用户名或者号码是否重复
	$('#username,#phone').on('blur',function(){
		var field=$(this).attr('name');//字段名称
		var value=$(this).val();//字段值
		if(!value){
			alert('不能为空！');
			return;
		};
		var post_data={};
		post_data[field]=value;
		$.ajax({
			url:'<?php echo site_url("hushen300/check")?>',
		    dataType:"json",
			type:'post',
			data:post_data,
			success:function(data){
				alert(data.info);
			}
		})
	});

	$('.qx').click(function(){
		//console.log(123);
		popCenterWindow();
		
	});
	//获取窗口/弹窗的高跟宽
	function init(){
		windowHeight=$(window).height();
		windowWidth=$(window).width();
		popHeight=$('#login').height();
		popWidth=$('#login').width();
	};
	//关闭窗口
	function closeWindow(){
		$('.title img').click(function(){
			$(this).parent().parent().hide('slow');
			$('#mask').hide();
			$('#login').hide();
			
		})
	};
	function popCenterWindow(){
		init();
		//计算弹出窗口的左上角Y的偏移量
		var popY=(windowHeight-popHeight)/2;
		var popX=(windowWidth-popWidth)/2;
		//设定窗口的位置
		$('#login').css('top',popY).css('left',popX).slideToggle('slow');
		closeWindow();
		
	};
	
// ajax请求注册页面
	$('#sure').click(function(){
		var code=$('#checkCode').val();
		if(code==''){
			alert('验证码不能为空');
			$("#checkCode").focus();
			return false;
		}
		var post_arr=['username','password','phone','checkCode'];
		var post_obj={};
		$.each(post_arr,function(index,item){
			post_obj[item]=$('#register').find('[name="'+item+'"]').val();
		});
		$.ajax({
			url:"<?php echo site_url('hushen300/register')?>",
			dataType:"json",
			type:"post",
			data:post_obj,
			success:function(data){
		    	// alert(data.info);
		    	if(data && data.success){
		    		alert(data.info);
		    		location.href="<?php echo site_url('huangjin/index')?>";
		    	}else{
		    		alert(data.info);
		    		window.history.back();
		    		
		    	}
		    	
		       }
		})
	
	});
	function get_current_flow(){
		$.get('<?php echo site_url('hushen300/stat_total_flow')?>',function(data){
			$('#total_flow').html(data);
		})
	}
	get_current_flow();
	
})


</script>
<script type="text/javascript">
	        setInterval(function(){  
            $.ajax({
                url: "http://hq.sinajs.cn/?list=s_sz399300",
                method: 'GET',
                dataType: "script",
                scriptCharset: "gb2312",
                cache: true,
                success: function(data, textStatus){
                     var hq = hq_str_s_sz399300.split(",");
                    var title,rt_hq = '';
                    if(Number(hq[2])>Number(0)){
                        title = hq[3]+' +'+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%';
                        rt_hq = '<span style="color:Red;">'+hq[1]+'&nbsp;'+hq[2]+'&nbsp;'+hq[3]+'%</span>';
                    }else if(Number(hq[2])<Number(0)){
                        title = hq[3]+' '+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%';
                        rt_hq = '<span style="color:Lime;">'+hq[1]+'&nbsp;'+hq[2]+'&nbsp;'+hq[3]+'%</span>';
                    }else{
                        title = hq[3]+' '+String(((Number(hq[3])-Number(hq[2]))*100/Number(hq[2])).toFixed(2))+'%';
                       rt_hq = '<span style="color:Black;">'+hq[1]+'&nbsp;'+hq[2]+'&nbsp;'+hq[3]+'%</span>';
                    }
                    document.title = title;
                    
                        var html_src = '实时行情: '+rt_hq+"|量: "+hq[4]+"手 | 额: "+hq[5]+"万元";
                        $("#m-chart-realhq").html(html_src);
                        $('#capital').val(hq[1]);
                        $.post('/cygjs_fr/index.php/hushen300/data_add',{current:hq[1]},function(data){
                            // console.log(data.data_date);
                            var json=JSON.parse(data);
                            $("#sxin").html(json.info);
                        });
                    } 
                });
        },5000);
</script>