<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>手机流量大放送，免费直领30M</title>
<meta name="description" content='玩游戏赚流量，猜涨猜跌就这么简单!我已经赚了200M流量'>
 <base href="<?php echo base_url()?>">
<link rel="stylesheet" type="text/css" href="public/css/common.css" />
<link rel="stylesheet" type="text/css" href="public/oh_static/css/oh-common.css"><!-- @author ohyeah -->
 <script src="<?php echo base_url()?>public/js/jquery.js"></script></script><!-- JQ由Baidu加速DNS提供 -->
 <script type="text/javascript" src="public/js/code.js"></script>
 <script type="text/javascript" src="public/js/register.js"></script>
 <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
 <script type="text/javascript" src="public/layer/layer.js"></script><!-- Layer弹窗组件引入 -->
 <script type="text/javascript" src="public/layer/extend/layer.ext.js"></script><!-- Layer弹窗组件引入 -->
 <div id='wx_pic' style="display:none"><img src='public/img/pic300.jpg' /></div>
<style>
#mask{

            margin: 0 auto;

            width: 100%;

            height: 100%;

            z-index: 200;

            background-color: grey;

            position: fixed;

            left: 0;

            top: 0;

            opacity: 100;

            moz-opacity:100;

            filter:alpha(opacity=100);
			
			display:none;
			z-index:0;
}

#register{

            position:absolute;

            top:50%;

            left:50%;

            width:300px;

            height:300px;

            margin: -150px 0 0 -150px;

            vertical-align: middle;
			
			display:none;
			z-index:99;
			
}
</style>
</head>
<body>
<div class="tab_nav">
	<ul>
	<li ><a id="hj" href="<?php echo site_url('huangjin/index')?>">黄金</a><!-- <a href="javascript:void(0);" id="jinyulink">[金裕]</a><a href="javascript:void(0);" id="sinalink">[新浪]</a> --></li>
	<li class="on"><a id="sh" href="<?php echo site_url('hushen300/index')?>">沪深300</a></li>
</ul></div>

<div class="focus_data">
    <!-- 为新浪准备一个具备大小（宽高）的Dom -->
    <div id="container" style="width: 100%; height:200px;"></div>
<script type="text/javascript" src="<?php echo base_url()?>public/js/echarts-all-3.0.0.js"></script>
<script type="text/javascript">

var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var base = +new Date(2014, 9, 3);
var oneDay = 24 * 3600 * 1000;
var date = [];

var data = [Math.random() * 150];
var now = new Date(base);



function addData(shift) {
    now = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-');
    date.push(now);
    data.push((Math.random() - 0.4) * 10 + data[data.length - 1]);
    if (shift) {
        date.shift();
        data.shift();
    }
    now = new Date(Date.parse(now) + 24 * 3600 * 1000);
}

for (var i = 1; i < 100; i++) {
    addData();
}

option = {
    tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false
            },
            formatter: function (params) {
                return params[0].name + '<br />' + params[0].value;
            }
        },
    grid: {
        top:0,
        bottom:-15,
        left:0,
        right:-45,
        containLabel: true,
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        splitLine: {show: false},
    },
    yAxis : [
                {
                    scale: true,
                    axisLabel: {show: false},
                    splitLine: {show: false},
                    boundaryGap: [0.001, 0.001],
		            position:'right',
		            axisLine: {
				                lineStyle: {
				                    color: '#dc143c'
				                }
				            }
                }
    ],
    series : [
                {
                    name:'指数',
                    type:'line',
                    stack: '总量',
                    symbolRotate: -45,
              //       markLine : {
		            //     data : [
		            //         {type : 'average', name: '平均值'}
		            //     ]
		            // },
                    itemStyle: {
                        normal: {
                            color: 'red',
                            lineStyle: {        // 系列级个性化折线样式
                                width: 1,
                                type: 'solid'
                            }
                        },
                        emphasis: {
                            color: 'white'
                        }
                    }
                }
            ]
};
myChart.showLoading();
app.timeTicket = setInterval(function () {
$.post('/cygjs_fr/index.php/huangjin/e_data',{symbol:'CFIFZ5'},function(data){
    myChart.hideLoading();
    var json=JSON.parse(data);
    var date = json.data_date;
    var data = json.ipdata;

     if (Number($('#capital').html())<Number(json.price)) {
	    	$(".button_ab dl").addClass('z').removeClass('d').removeClass('n');
	    }
	    if (Number($('#capital').html())>Number(json.price)) {
	    	$(".button_ab dl").addClass('d').removeClass('z').removeClass('n');
	    };
	    if (Number($('#capital').html())==Number(json.price)) {
	    	$(".button_ab dl").addClass('n').removeClass('d').removeClass('z');
	    };
    $('#capital').html(json.price);
    $('#lianying').html(json.num);
    $('#total_flow').html(json.flow);
    $('#st').val(json.st);
    if (Number(json.hs)<1) {
    	$('#sh').html('沪深300(已收市)');
    	$('#tip').html('股市开市再来吧！</br>');
    }else{
    	$('#sh').html('沪深300(开市中)');
    }
    if (Number(json.st)<1) {
    	// $('#hj').html('黄金(某天数据)');
    	$('#tip').html('暂无数据！</br>');
    }
        addData(true);
        myChart.setOption({
            xAxis: {
                data: date.map(function (str) {
                        return str.replace('2016-01-25', '\n')
                    })
            },
            series: [{
                name:'成交',
                data: data
            }]
        });
    });
}, 3000);;
if (option && typeof option === "object") {
    var startTime = +new Date();myChart.setOption(option, true);
    var endTime = +new Date();
    var updateTime = endTime - startTime;console.log("Time used:", updateTime);
    }
        
    </script>

</div>
<div class="button_ab">
	<div class="tipsbtn"><i><a href="javascript:void(0)" id="rule_link">游戏规则</a></i><i><a id="ifollow" href="javascript:void(0);">分享领流量</a></i></div>
    <span class="d"><a href="javascript:void(0);" id="die" class="die">猜跌</a></span>

	<span class="z"><a href="javascript:void(0);" id="zhang" class="zhang">猜涨</a></span>
	<dl><dt id='tip'>最新报价</dt><dd><i></i><span id="capital"></span>
	<dt class="pk">持有价格</dt>
	<span id="capital1"></span>
	<input type="button" name="symbol" id="symbol" value="XAU" style="display:none;"/>
	<input type="button" name="st" id="st" value="" style="display:none;"/></dd></dl>
	
</div>

<div class="user_info">
	<dl id="dr"><dt id="oy"><img src="<?php echo base_url()?>public/img/avatar.jpg" /></dt><dd id="dr"><?php echo $username;?></dd></dl>
	<ul><li><span>可用流量</span><span><em id="total"></em>M</span></li>
	    <li><span><em id="cash_flow"></span></li>	
	</ul>
	<span class="tx"><a href="javascript:void(0);" id="qx">领取流量</a></span>
</div>

<div id="regmodal" class="modal2" style="display:none;">
<div class="gb">X</div>
	<h3>请注册</h3>
	<div id="loginform">
	<ul>
		<li><label for="username">用户名:</label>
		<input type="text" name="username" id=username1  class="txtfield" tabindex="1" /></li>
	
		<li><label for="password">密码:</label>
		<input type="password" name="password"  class="txtfield" tabindex="2" /></li>

		<li><label for="password">确认密码:</label>
		<input type="password" name="repassword"  class="txtfield" tabindex="3" /></li>

		<li><label for="tel">手机号:</label>
		<input type="text" name="phone" id="phone1" class="txtfield" tabindex="4" /></li>

		<li><label for="code">验证码:</label>
		<input type="text" name="checkCode" id="checkCode" class="txtfield w2" tabindex="5" /><input id="btnSendCode1" type="button" value="发送验证码" /></li>
	</ul>
		<div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-red hidemodal" value="确定注册" tabindex="3"></div>
	</div>
</div>

<div id="loginmodal" class="modal2" style="display:none">
<div class="gb">X</div>
	<h3>请登陆</h3>
	<ol><li class="on" id="yh">用户名登陆</li><li id="sj">手机登陆</li></ol>
	<div id="loginform">
	<div id="dialog">
	<div id="userlogin"><ul>
		<li><label for="username">用户名:</label>
		<input type="text" name="username" id="username" class="txtfield" tabindex="1" /></li>
		<li><label for="password">密码:</label>
		<input type="password" name="password"  class="txtfield" tabindex="2" /></li>
	</ul></div>
	<div id="phonelogin" style="display:none;"><ul>
		<li><label for="username">手机号:</label>
		<input type="text" name="phone" id="phone2" class="txtfield" tabindex="1" /></li>
	
		<li><label for="code">验证码:</label>
		<input type="text" name="checkCode"  class="txtfield w2" tabindex="5" /><input id="btnSendCode2" type="button" value="发送验证码" /></li>
	</ul></div></div>
	  <div class="center">
		<a id="login_btn" class="flatbtn-red hidemodal">登陆</a>
		<a id="register_btn" class="flatbtn-red hidemodal">注册</a>
		</div>
    </div>
</div>

</body>
<script type="text/javascript" src="public/js/oh-huangjin.js"></script><!-- @author ohyeah -->
</html>
<script>

function get_current_flow(){
	$.get('<?php echo site_url('huangjin/stat_total_flow')?>',function(data){
		$('#total').html(data);
	})
}
get_current_flow();

//弹出窗口
var username='<?php echo $username;?>';
$('#qx').click(function(){
	//$('#loginmodal').attr('style','display:block');

	if(username!='请登入')   //取现判断有没有用户登录
		{
			
			$.get('<?php echo site_url('huangjin/cash_flow')?>',function(data){
				alert(data.info);
				//location.href="<?php echo site_url('huangjin/index')?>";
				if(data.success){//如果下单成功，启动计时器
					get_current_flow();//静态更新总流量
					$('#cash_flow').html(data.flow_package+'M正在兑换，请耐心等候');//静态更新兑换流量
					var stat_timer=setInterval(function(){
							$.get('<?php echo site_url('huangjin/order_status')?>',function(data1){
								if(data1.success){//反馈后无论失败还是成功，都要终止计时器;否则就一直执行
									clearInterval(stat_timer);
									get_current_flow();
									$('#cash_flow').html('');
									if(data1.status==1){//兑换成功
										alert('兑换成功，可能没有短信提醒，请自查流量！');
									}else{//兑换失败
										alert('兑换失败，请联系我们！');
									}
								}
						    },'json');
					},3000);	
				}
								
			},'json');
			
					
		}else{ 
			$('#loginmodal').show();
		}
	
});

$('#dr').click(function(){
	$('#loginmodal').show();
})
//弹出 用户登入框
$('#yh').click(function(){
	$('#yh').addClass('on');
	$('#sj').removeClass('on');
	$('#phonelogin').hide();
	$('#userlogin').show();
	
    
  
});
//弹出手机登入框
$('#sj').click(function(){
	$('#sj').addClass('on');
	$('#yh').removeClass('on');
	$('#userlogin').hide();
	$('#phonelogin').show();
		
})
//关闭对话框
$('.gb').click(function(){
	
	$(this).parent().hide('slow');
	
});
$(function(){
	//弹出注册框的时候，同时向后台请求验证码图片
	$('#register_btn').on('click',function(){
		/*$.ajax({
			url:'<?php echo site_url("huangjin/img")?>',
			dataType:'html',
			async:false,
			success:function(data){
				$('#img_td').prepend(data);
			}
		});*/
		//$('#mask').show();
		$('#loginmodal').hide();
		$('#regmodal').show();	
	});
	//点击发送时发送手机注册验证码
	$('#btnSendCode1').click(function(){
		var phone=$('#phone1').val();
		
		$.ajax({
			url:'<?php echo site_url("huangjin/send_sms")?>',
			data:{phone:phone},
			type:'post',
			success:function(data){
				//alert(data.info);
			}
		});
	});
	//点击发送登入验证码
	$('#btnSendCode2').click(function(){
		var phone=$('#phone2').val();
		
		$.ajax({
			url:'<?php echo site_url("huangjin/send_sms")?>',
			data:{phone:phone},
			type:'post',
			success:function(data){
				//alert(data.info);
			}
		});
	});
	
	//检测用户名或者号码是否重复
	$('#username1,#phone1').on('blur',function(){
		var field=$(this).attr('name');//字段名称
		var value=$(this).val();//字段值
		if(!value){
			alert('不能为空！');
			return;
		};
		var post_data={};
		post_data[field]=value;
		$.ajax({
			url:'<?php echo site_url("huangjin/check")?>',
		    dataType:"json",
			type:'post',
			data:post_data,
			success:function(data){
				if(data && data.success){
					//alert(data.info);
				}else{alert(data.info);}
				
			}
		})
	});


// ajax请求注册页面
	$('#loginbtn').click(function(){
		var code=$('#checkCode').val();
		if(code==''){
			alert('验证码不能为空');
			$("#checkCode").focus();
			return false;
		}
		var post_arr=['username','password','phone','checkCode'];
		var post_obj={};
		$.each(post_arr,function(index,item){
			post_obj[item]=$('#regmodal').find('[name="'+item+'"]').val();
		});
		$.ajax({
			url:"<?php echo site_url('huangjin/register')?>",
			dataType:"json",
			type:"post",
			data:post_obj,
			success:function(data){
				if(data && data.success){
					alert(data.info);
				  location.href="<?php echo site_url('huangjin/index')?>";
				}else{ 
					alert(data.info);
				 window.history.back();
				}
			}
		})
	
	});


	//ajax请求登录页面
	
	$('#login_btn').click(function(){
		//这里判断一下是哪种登陆方式
		var post_arr,post_url,$ele;
		if($('#yh').hasClass('on')){//用户名登陆
			post_arr=['username','password'];
			post_url="<?php echo site_url('huangjin/login_name')?>";
			$ele=$('#userlogin');
		}else{//手机登陆
			post_arr=['phone','checkCode'];
			post_url="<?php echo site_url('huangjin/login_phone')?>";
			$ele=$('#phonelogin');
		}
		
		var post_obj={};
		$.each(post_arr,function(index,item){
			post_obj[item]=$ele.find('[name="'+item+'"]').val();
		});
	   $.ajax({
		   url:post_url,
	       dataType:"json",
	       type:"post",
	       //data:{username:username,password:password},
		   data:post_obj,
	       success:function(data){
	    	// alert(data.info);
	    	if(data && data.success){
	    		alert(data.info);
	    		location.href="<?php echo site_url('huangjin/index')?>";
	    	}else{
	    		alert(data.info);
	    		//window.history.back();	
	    	}
	    	
	       }
	   })	
	});
})




wx.config({
    //debug: true,
    appId: '<?php echo $signPackage["appId"];?>',
    timestamp: <?php echo $signPackage["timestamp"];?>,
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
	  'onMenuShareAppMessage',//分享给朋友
	  'onMenuShareTimeline',//分享到朋友圈
	  'onMenuShareQQ',//分享到QQ
	  'onMenuShareWeibo',//分享到腾讯微博
	  'onMenuShareQZone'//分享到QQ空间
    ]
});
wx.error(function(res){
	//alert('尊敬的用户，您还没关注我们的微信公众号，关注后每天有五次分享获取流量的机会哟！');	
})
wx.ready(function () {
	var config_obj={
		title: '手机流量大放送，免费直领30M', // 分享标题
		desc: '手机流量大放送，免费直领30M', // 分享描述
		link: 'http://test-wx.cygjs100.com/cygjs_fr/index.php/index/index', // 分享链接
		imgUrl: 'public/img/banner.jpg', // 分享图标
		type: '', // 分享类型,music、video或link，不填默认为link
		dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		success: function () { 
			// 用户确认分享后执行的回调函数
			$.ajax({
				url:'<?php echo site_url("index/share")?>',
				type:'post',
				dataType:'json',
				success:function(data){
					if(data.success){
						alert(data.info);
						get_current_flow();
					}else{
						alert('分享成功，每天仅限分享五次，你今天分享获取流量的权限已经没有了！请明天继续分享。');
					}
				}				
			});
		},
		cancel: function () { 
			// 用户取消分享后执行的回调函数
			alert('确认取消吗？');
		}
	};
	wx.onMenuShareAppMessage(config_obj);
	wx.onMenuShareTimeline(config_obj);
	wx.onMenuShareQQ(config_obj);
	wx.onMenuShareWeibo(config_obj);
	wx.onMenuShareQZone(config_obj);
});
</script>
