<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Insert title here</title>
</head>
<base href="<?php echo base_url()?>">
<link rel="stylesheet" type="text/css" href="public/css/common.css" />
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<body>
 <!--  <div><img src="public/img/erweima.png"/></div>-->
<div class="index">
	<img src="public/img/banner.jpg" width="100%" />
	<div class="rule"><a href="#" id="rule_link">活动须知</a>
			<div id="rule_cont">
				<center><b>《活动须知》</b></center>
				<h2>2016年金裕二元期权<br />“玩游戏送流量，无限流量助你玩转猴年”</h2>
				<h3>一、活动时间：即日起至</h3>
				<h3>二、活动介绍：</h3>
				<p>1、从界面进入游戏，金裕二元期权猜涨跌。连续3次猜对即送你1M流量，根据兑换规则，流量可以累积，累积满30M以上，即可提取。</p>
				<p>2、奔走相告抢流量，动动你的手指，把此链接分享到你的朋友圈，即送1M流量，每天有3次机会哦！</p>
				<h3>三、兑换流量规则：</h3>
				<p>流量可以累积，累积满30M及以上，即可提取流量。点击页面提取流量按钮，根据提示操作即可提取流量，就是这么简单、快捷。</p>
				<h3>四、活动说明：</h3>
				<p>1、请按照须知要求参与活动，一旦发现有非正常行为作弊的用户，金裕将有权取消其继续参与活动的资格。</p>
				<p>2、本次活动最终解释权归金裕所有。</p>
			</div>
	 </div>
			<div class="start"><a href="<?php echo site_url('huangjin/index')?>" class="animated gostart">开始游戏</a></div>
			<div class="check2"><ul>
					<li><center>你可以这样</center>
						<span>60s手指热身运动，流量送不停</span>
						<p>在游戏的过程中<br />
						你连续3次猜对，即送你<b>1M流量</b><br />
						根据兑换规则，流量可以累积<br />
						累积满<b>30M以上</b>，即可提取</p></li>
					<li><center>你也可以这样</center>
						<span>奔走相告抢流量</span>
						<p>动动你的手指<br />
						把此链接<b><font color="#54aaff">分享</font></b>到你的<b><font color="#669900">朋友圈</font></b><br />
						即送1M流量，<b>每天有3次</b>机会哦！<br /></p></li>
				</ul>
			</div>
</div>




</body>
<script>
$(function(){
	$("#rule_link").click(function(event){$("#rule_cont").show();event.stopPropagation();});
	$("#rule_cont").click(function(event){$("#rule_cont").hide();});
});
	
wx.config({
    debug: true,
    appId: '<?php echo $signPackage["appId"];?>',
    timestamp: <?php echo $signPackage["timestamp"];?>,
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
	  'onMenuShareAppMessage',
    ]
});
wx.error(function(res){
	alert(res);
	alert('尊敬的用户，您还没关注我们的微信公众号，关注后每天有三次分享获取流量的机会哟！');
})
wx.ready(function () {
	wx.onMenuShareAppMessage({
		title: '测试', // 分享标题
		desc: '测试分享', // 分享描述
		link: 'http://test-wx.cygjs100.com/cygjs_fr/index.php/index/index', // 分享链接
		imgUrl: '', // 分享图标
		type: '', // 分享类型,music、video或link，不填默认为link
		dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		success: function () { 
			// 用户确认分享后执行的回调函数
			$.ajax({
				url:'<?php echo site_url("")?>',
				type:'post',
				dataType:'json',
				success:function(data){
					if(data.success){
						alert('恭喜你，分享成功!您又获得10M流量');
					}else{
						alert('分享成功，每天仅限分享三次，你今天分享获取流量的权限已经没有了！请明天继续分享。');
					}
				}				
			});
		},
		cancel: function () { 
			// 用户取消分享后执行的回调函数
			alert('确认取消吗？');
		}
	});
});
</script>
</html>