<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>测试</title>
 <base href="<?php echo base_url()?>">
<link rel="stylesheet" type="text/css" href="public/css/common.css" />
<link rel="stylesheet" type="text/css"
	href="vendor/jqueryui/themes/base/jquery-ui.min.css">
 <link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="vendor/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="vendor/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="vendor/jqueryui/ui/i18n/datepicker-zh-CN.js"></script>
</head>
<body>

<div class="tab_nav">
	<span class="line"></span>
	<ul>
	<li class="on">黄金</li>
	<li>沪深300</li>
	
</ul></div>

<div class="focus_data"></div>

<div class="button_ab">
	<span class="d"><a href="#">跌</a></span>
	<span class="z"><a href="#">涨</a></span>
</div>

<div class="user_info"><ul>
	<li><span>余额：</span><span><em>42,500</em></span></li>
	<li class="tz"><span>投注金额：</span><span><i class="down">-</i><em>1,000</em><i class="up">+</i></span></li>
</ul></div>
<div class="out">
   <span class="th" ><a href="javascript:void(0)" >兑换</a></span>
   <span class="tc" ><a href="<?php echo site_url('index/index')?>">退出</a></span>
</div>

<div id="login">
	  <table width="100%" class="table table-bordered" >
	    <tr>
	      <td align="right"  style=" padding:0 10px; ">账号</td>
	      <td ><input style="width:40%;margin-bottom:10px;" type="text" name="user_info" /></td>
	        
	   </tr>    
	  <tr>
	      <td align="right"  style=" padding:0 10px; ">密码</td>
	      <td ><input style="width:40%;margin-bottom:10px;" type="text" name="pwd"  /></td>
	                
	 </table>
</div>


</body>
</html>
<script>
$(window).load(function(){
	$('.th').click(function(){
	  $('#login').dialog('open');
	// console.log(123);
	
	});
  $('#login').dialog({
	  model:true,
	  autoOpen:false,
	  width:300,
	  title:'登入',
	  buttons:{
		  "登入":function(){},
		  "注册":function(){}
	   }
  });

})

</script>