<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>测试</title>
 <base href="<?php echo base_url()?>">
<link rel="stylesheet" type="text/css" href="public/css/common.css" />
<script type="text/javascript" src="vendor/jquery/jquery-1.11.3.min.js"></script>

</head>
<body>

<div class="tab_nav">
	<span class="line"></span>
	<ul>
	<li class="on">黄金</li>
	<li>沪深300</li>
	
</ul></div>

<div class="focus_data"></div>

<div class="button_ab">
	<span class="d"><a href="#">跌</a></span>
	<span class="z"><a href="#">涨</a></span>
</div>

<div class="user_info"><ul>
	<li><span>余额：</span><span><em>42,500</em></span></li>
	<li class="tz"><span>投注金额：</span><span><i class="down">-</i><em>1,000</em><i class="up">+</i></span></li>
</ul></div>
<div class="out">
   <span class="th" ><a href="javascript:void(0)" onclick="openwin()" >兑换</a></span>
   <span class="tc" ><a href="<?php echo site_url('index/index')?>">退出</a></span>
</div>




</body>
</html>
<script>
function openwin(){window.open("<?php echo site_url('login/index')?>", "newwindow", "height=300, width=400")}


</script>