<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>测试</title>
<!-- <script type="text/javascript" src="vendor/jquery/jquery-1.11.3.min.js"></script> -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="http://layoutit.justjavac.com/css/bootstrap-combined.min.css">
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
<!--                         <th>
                            编号
                        </th> -->
<!--                         <th>
                            开始时间
                        </th>
                        <th>
                            结束时间
                        </th> -->
                        <th>
                            买入价
                        </th>
                        <th>
                            开盘价
                        </th>
                        <th>
                            结果[<a href='javascript:void(0);' id='sxin'>刷新</a>]
                        </th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($lishi as $row) : ?>
                    <tr>
<!--                         <td>
                            <?php echo $row['id'] ?>
                        </td> -->
<!--                         <td>
                            <?php echo $row['start_time'] ?>
                        </td> -->
<!--                         <td>
                            <?php echo $row['and_time'] ?>
                        </td> -->  
                        <td>
                            <?php echo $row['capital'] ?>/
                            <?php if ($row['invest_type'] === '1'): ?>
                                涨
                            <?php elseif ($row['invest_type'] === '0'): ?>
                                跌
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php echo $row['currented'] ?>
                        </td>
                        <td>
                            <?php if ($row['result'] === ''): ?>
                                未开奖
                            <?php else: ?>
                                <?php echo $row['result'] ?>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>

            </table>
            <!-- <?php echo $page_links;?> -->
        </div>
    </div>
</div>
    <script type="text/javascript">
    $('#sxin').on('click', function(){
    window.location.reload();
    // alert('这是跌');
    });
    setInterval(function(){  
    window.location.reload();
    },60000);
    </script>
</body>
</html>