<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="<?php echo site_url("login/index")?>" method="POST" enctype="multipart/form-data">
  <table>
   <tr><td style="text-align:right;">姓名：</td><td><input type="text"/></td></tr>
    <tr><td style="text-align:right;">用户名：</td><td><input type="text" /></td></tr>
    <tr> <td style="text-align:right;">密码：</td><td><input type="text"/></td></tr>
    <tr><td style="text-align:right;">邮箱：</td><td><input type="text"/></td></tr>
     <tr><td style="text-align:right;">手机号：</td><td><input type="text"/></td></tr>
    <tr><td style="text-align:right;">手机验证码：</td><td><input type="text"/></td></tr>
    <tr><td><button>确定</button></td></tr>
 </table>
</form>
</body>
</html>