<?php include 'head.html';?>
<body>
	<!-- HTML start-->
	<!--side start-->
	<?php include 'side.html';?>
	<!--side end -->
	<!--header start-->
	<div class="header clear">
		<div class="date-cont1 left">
			<span class="time" id="nowTime">17:36</span>
			<p class="date" id="nowTime1">2015-09-02</p>
		</div>
		<!-- <div class="date-cont2 left">
			<i class="ico i-date left"></i>
			<div class="left txt">
				<span class="daily">26</span><br>2015-08
			</div>
		</div> -->

		<div class="dropdown right head-dropdown">
			<a href="javascript:;" class="under-n head-droplink" id="dropdownMenu1" data-toggle="dropdown" >
				<span class="avtar"><img src="<?php echo base_url()?>public/admin/images/img/avatar.jpg" ></span>
				admin
				<i class="fa fa-chevron-down"></i> 
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<span class="fa fa-angle-up"></span>
				<li class="line"><a href="#">账号管理</a></li>
				<li><a href="#">反馈意见</a></li>
				<li><a href="#">退出系统</a></li>
			</ul>
		</div>

		<div class="dropdown right head-dropdown">
			<a href="javascript:;" class="under-n head-droplink" id="dropdownMenu1" data-toggle="dropdown" >
				<i class="fa fa-bell-o head-ico"><span class="badge">4</span></i> 
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<span class="fa fa-angle-up"></span>
				<li class="line"><a href="#">账号管理</a></li>
				<li><a href="#">反馈意见</a></li>
				<li><a href="#">退出系统</a></li>
			</ul>
		</div>
	</div>
	<!--header end -->
	<!--main start-->
	<div class="main">
		<div class="pad20">
			<!--postion start-->
			<div class="postion ">
				<div class="pos-txt"><span class="fz24 padr5">当前位置</span>Current position</div>
				<div class="pos-link mart20"><a href="/">首页</a>  >  <a href="#">概况</a><div class="view">
              </div></div>
			</div>
			<!--postion end-->
			<!--stats start-->
			<div class="stats-cont row mart20">
				<div class="col-sm-3 ">
					<div class="stats-panel stats-blue clear">
						<div class="left"><img src="<?php echo base_url()?>public/admin/images/stats1.png" height="104" width="83" alt=""></div>
						<div class="auto stats-txt">
							<p>实名用户数/游客用户数</p>
							<p class="stats-num"><a href="#"><?php echo $customer_phone_list ?>/<?php echo $usernum-$customer_phone_list ?></a></p>
						</div>
						<a href="#" class="more clear"><span class="left">More</span> <i class="right fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="col-sm-3 ">
					<div class="stats-panel stats-red clear">
						<div class="left"><img src="<?php echo base_url()?>public/admin/images/stats2.png" height="104" width="83" alt=""></div>
						<div class="auto stats-txt">
							<p>在线人数/总用户</p>
							<p class="stats-num"><a href="#"><?php echo $online_number ?>/<?php echo $usernum ?></a></p>
						</div>
						<a href="#" class="more clear"><span class="left">More</span> <i class="right fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="col-sm-3 ">
					<div class="stats-panel stats-green clear">
						<div class="left"><img src="<?php echo base_url()?>public/admin/images/stats3.png" height="104" width="83" alt=""></div>
						<div class="auto stats-txt">
							<p>流量额</p>
							<p class="stats-num"><a href="#"><?php echo $total_flow_num ?>M</a></p>
						</div>
						<a href="#" class="more clear"><span class="left">More</span> <i class="right fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="col-sm-3 ">
					<div class="stats-panel stats-purple clear">
						<div class="left"><img src="<?php echo base_url()?>public/admin/images/stats4.png" height="104" width="83" alt=""></div>
						<div class="auto stats-txt">
							<p>取现流量</p>
							<p class="stats-num"><a href="#"><?php echo $cash_flow_num>1?$cash_flow_num:0 ?>M</a></p>
						</div>
						<a href="#" class="more clear"><span class="left">More</span> <i class="right fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<!--stats end-->
			<!--chart start-->
			<div class="chart mart20">
				<div class="tit1 clear">
					<span class="left txt-left txt-red"><i class="fa fa-share-alt"></i>业绩分析</span>
					<div class="right chart-tit-date">
						<a href="#" class="active">月</a>
						<a href="#">年</a>
					</div>
				</div>

				<div class="padt10">
					<div class="chart-tag"><a href="#" class="active">用户浏览</a><a href="#">流量生产</a></div>
					<div class="chart-box padt10">
						<div id="chart-container" class="chart-container"></div>
					</div>
				</div>
			</div>
			<!--chart end-->
			<!--sales-list start-->
			<div class="sales-list row mart20">
				<div class="col-sm-9">
					<div class="pad20 bgf">
						<div class="tit1 clear">
							<span class="left txt-left txt-blue"><i class="ico i-rank"></i>排行榜单</span>
							<div class="right ">
								<a href="#">今日排行 <i class="fa fa-angle-down"></i></a>
							</div>
						</div>
						<div class="tab">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs sale-tabs" role="tablist">
								<li class="active"><a href="#tab1"  role="tab" data-toggle="tab">用户排名</a></li>
								<li><a href="#tab2"  role="tab" data-toggle="tab">流量获得</a></li>
								<li><a href="#tab3"  role="tab" data-toggle="tab">连赢排名</a></li>
								<li><a href="#tab4"  role="tab" data-toggle="tab">取现排名</a></li>
								<li><a href="#tab5"  role="tab" data-toggle="tab">分享排名</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="tab1">
									<div class="table-responsive mart20 sale-table">
										<table class="table table-bordered table-striped">
											<tr>
												<td width="10%">排名</td>
												<td width="30%">用户名</td>
												<td width="15%">登录时间</td>
												<td width="15%">登录次数</td>
												<td width="20%">游戏时长</td>
												<td>操作</td>
											</tr>
											<?php $i=1; foreach($customer_paiming as $row) : ?>
											<tr>
												<td><span class="txt-red">Top<?php echo $i++ ?></span></td>
												<td><a href="#"><?php echo $row['id'] ?></a></td>
												<td><?php echo $row['create_time'] ?></td>
												<td>暂无</td>
												<td>暂无</td>
												<td><a href="#">查看详情</a></td>
											</tr>
											<?php endforeach; ?>
										</table>
									</div>
								</div>
								<!--tab2-->
								<div role="tabpanel" class="tab-pane" id="tab2">
									<div class="table-responsive mart20 sale-table">
										<table class="table table-bordered table-striped">
											<tr>
												<td width="10%">排名</td>
												<td width="30%">用户名</td>
												<td width="25%">游戏获到的流量额</td>
												<td width="25%">分享获到的流量额</td>
												<td>操作</td>
											</tr>
											<?php $i=1; foreach($customer_list1 as $row) : ?>
											<tr>
												<td><span class="txt-red">Top<?php echo $i++ ?></span></td>
												<td><a href="#"><?php echo $row['id'] ?></a></td>
												<td><?php echo $row['total_flow'] ?></td>
												<td>暂无</td>
												<td><a href="#">查看详情</a></td>
											</tr>
											<?php endforeach; ?>
										</table>
									</div>
								</div>
								<!--tab3-->
								<div role="tabpanel" class="tab-pane" id="tab3">
									<div class="table-responsive mart20 sale-table">
										<table class="table table-bordered table-striped">
											<tr>
												<td width="10%">排名</td>
												<td width="30%">用户名</td>
												<td width="25%">连赢次数</td>
												<td width="25%">擅长领域</td>
												<td>操作</td>
											</tr>
											<?php $i=1; foreach($customer_list2 as $row) : ?>
											<tr>
												<td><span class="txt-red">Top<?php echo $i++ ?></span></td>
												<td><a href="#"><?php echo $row['uid'] ?></a></td>
												<td><?php echo $row['num'] ?></td>
												<td><?php echo $row['symbol'] ?></td>
												<td><a href="#">查看详情</a></td>
											</tr>
											<?php endforeach; ?>
										</table>
									</div>
								</div>
								<!--tab4-->
								<div role="tabpanel" class="tab-pane" id="tab4">
									<div class="table-responsive mart20 sale-table">
										<table class="table table-bordered table-striped">
											<tr>
												<td width="10%">排名</td>
												<td width="30%">用户名</td>
												<td width="15%">取现总额</td>
												<td width="15%">取现次数</td>
												<td width="20%">销售额</td>
												<td>操作</td>
											</tr>
											<?php $i=1; foreach($customer_list3 as $row) : ?>
											<tr>
												<td><span class="txt-red">Top<?php echo $i++ ?></span></td>
												<td><a href="#"><?php echo $row['id'] ?></a></td>
												<td><?php echo $row['cash_flow'] ?></td>
												<td>暂无</td>
												<td>暂无</td>
												<td><a href="#">查看详情</a></td>
											</tr>
											<?php endforeach; ?>
										</table>
									</div>
								</div>
								<!--tab5-->
								<div role="tabpanel" class="tab-pane" id="tab5">
									<div class="table-responsive mart20 sale-table">
										<table class="table table-bordered table-striped">
											<tr>
												<td width="10%">排名</td>
												<td width="50%">用户名</td>
												<td width="30%">分享总额</td>
												<td width="30%">分享次数</td>
												<td>操作</td>
											</tr>
											<?php $i=1; foreach($customer_list4 as $row) : ?>
											<tr>
												<td><span class="txt-red">Top<?php echo $i++ ?></span></td>
												<td><a href="#"><?php echo $row['customer_id'] ?></a></td>
												<td><?php echo $row['flow'] ?></td>
												<td>暂无</td>
												<td><a href="#">查看详情</a></td>
											</tr>
											<?php endforeach; ?>
										</table>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="pad20 bgf">
						<div class="tit1 clear">
							<span class="left txt-left txt-blue"><i class="ico i-rank"></i>今日简报</span>
						</div>
						<div class="report-list ">
							<ul>
								<li class="bg-green">
									<a href="#">
										<p class="report-txt1">今日</p>
										<p class="report-txt2"><span class="fz22">游戏次数</span> <br><?php echo $idsumday ?>次</p>
										<p class="report-txt2"><span class="fz22">流量产生（M）</span> <br><?php echo $idsumday1 ?>M</p>
										<p class="report-txt2"><span class="fz22">取现笔数</span> <br><?php echo $idsumday2 ?>笔</p>
										<p class="report-txt3"id="nowTime2">2015-9-02</p>
									</a>
								</li>
								<li class="bg-red">
									<a href="#">
										<p class="report-txt1">本月</p>
										<p class="report-txt2"><span class="fz22">游戏次数</span> <br><?php echo $idsummonth ?>次</p>
										<p class="report-txt2"><span class="fz22">流量产生（M）</span> <br><?php echo $idsummonth1 ?>M</p>
										<p class="report-txt2"><span class="fz22">取现笔数</span> <br><?php echo $idsummonth2 ?>笔</p>
										<p class="report-txt3"id="nowTime3">2015-9-02</p>
									</a>
								</li>
								<li class="bg-blue">
									<a href="#">
										<p class="report-txt1">今年</p>
										<p class="report-txt2"><span class="fz22">游戏次数</span> <br><?php echo $idsumyear ?>次</p>
										<p class="report-txt2"><span class="fz22">流量产生（M）</span> <br><?php echo $idsumyear1 ?>M</p>
										<p class="report-txt2"><span class="fz22">取现笔数</span> <br><?php echo $idsumyear2 ?>笔</p>
										<p class="report-txt3"id="nowTime4">2015-9-02</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--sales-list end-->



		</div>

		<div class="copy">2016 © OhYeah Crew</div>
	</div>
	<!--main end-->





	<!--end js load--> 
	<script src="<?php echo base_url()?>public/admin/js/jquery-1.9.1.min.js"></script> 
	<script src="<?php echo base_url()?>public/admin/js/bootstrap.min.js"></script> 
	<script src="<?php echo base_url()?>public/admin/js/highcharts.js"></script> 
	<script src="<?php echo base_url()?>public/admin/js/common.js"></script>
	<script type="text/javascript">
	$(function () {
		$('#chart-container').highcharts({
			chart: {
				type: 'area',
				spacingBottom: 30
			},
			title: {
				text: ''
			},
			subtitle: {
				text: '',
				floating: true,
				align: 'right',
				verticalAlign: 'bottom',
				y: 15
			},
			legend: {
				layout: 'vertical',
				align: 'left',
				verticalAlign: 'top',
				x: 150,
				y: 100,
				floating: true,
				borderWidth: 1,
				backgroundColor: '#FFFFFF'
			},
			xAxis: {
				categories: [<?php echo $data_date ?>]
			},
			yAxis: {
				title: {
					text: '游客数'
				},
				labels: {
					formatter: function() {
						return this.value;
					}
				}
			},
			tooltip: {
				formatter: function() {
					return '<b>'+ this.series.name +'</b><br/>'+
					this.x +': '+ this.y;
				}
			},
			plotOptions: {
				area: {
					fillOpacity: 0.5
				}
			},
			credits: {
				enabled: false
			},
			series: [{
				name: '游客数(人)',
				data: [<?php echo $ipdata ?>]
			}]
		});
	});				
</script>
<script type="text/javascript"> 
function current(){ 
var d=new Date(),str=''; 
str +=d.getHours()+':'; 
str +=d.getMinutes()+':'; 
str +=d.getSeconds()+''; 
return str; } 
function current1(){ 
var d=new Date(),str=''; 
str +=d.getFullYear()+'-'; //获取当前年份 
str +=d.getMonth()+1+'-'; //获取当前月份（0——11） 
str +=d.getDate()+''; 
return str; } 
setInterval(function(){$("#nowTime").html(current);
	$("#nowTime1").html(current1);
	$("#nowTime2").html(current1);
	$("#nowTime3").html(current1);
	$("#nowTime4").html(current1);
},1000); 
</script> 
</body>
</html>