	<div class="side">
		<div class="logo">金裕二元期权</div>
		<div class="sidemenu">
			<ul>
			    <li>
					<a href="<?php echo site_url('admin/index')?>">
						<i class="ico i-nav5"></i>
						<p>主页</p>
					</a>
				</li>
				<li>
					<a href="<?php echo site_url('admin/user_index')?>">
						<i class="ico i-nav1"></i>
						<p>用户</p>
					</a>
				</li>
				<li>
					<a href="<?php echo site_url('admin/count_index')?>">
						<i class="ico i-nav2"></i>
						<p>点击量</p>
					</a>
				</li>
				<li>
					<a href="<?php echo site_url('admin/flow_index')?>">
						<i class="ico i-nav6"></i>
						<p>流量订单</p>
					</a>
				</li>
<!-- 				<li>
					<a href="#">
						<i class="ico i-nav4"></i>
						<p>排行榜</p>
					</a>
				</li> -->
<!-- 				<li>
					<a href="#">
						<i class="ico i-nav5"></i>
						<p>商品库</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="ico i-nav6"></i>
						<p>资金</p>
					</a>
				</li> -->
				<li>
					<a href="<?php echo site_url('admin/system_index')?>">
						<i class="ico i-nav7"></i>
						<p>设置</p>
					</a>
				</li>
				<li>
					<a href="<?php echo site_url('admin/charts_index')?>">
						<i class="ico i-nav8"></i>
						<p>报表</p>
					</a>
				</li>
			</ul>
		</div>
	</div>